<div layout="row" layout-sm="column" layout-xs="column" class="mdl-grid" style="margin-top:15px;">
    <div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100" style="background: white;">
        <div class="panel-header">
            Normal Form
        </div>
        <div class="panel-body forms">
            <form action="#">
                <md-input-container md-no-float>
                    <input ng-model="user.name" type="text" placeholder="Text">
                </md-input-container>
                <md-input-container md-no-float>
                    <input ng-model="user.phone" type="number" placeholder="Number">
                </md-input-container>            
            </form>
            <md-button class="md-raised md-primary"> Submit</md-button>
        </div>
    </div>
    <div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100" style="background: white;">
        <div class="panel-header">
            Floating Form
        </div>
        <div class="panel-body forms">
            <form action="#">
                <md-input-container>
                    <input ng-model="user.name2" type="text" placeholder="Text">
                </md-input-container>
                <md-input-container>
                    <input ng-model="user.phone2" type="number" placeholder="Number">
                </md-input-container>            
            </form>
            <md-button class="md-raised md-primary"> Submit </md-button>
        </div>
    </div>
</div>
<div layout="row" layout-sm="column" layout-xs="column" class="mdl-grid" style="margin-top:10px;">
    <div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100" style="background: white;">
        <div class="panel-header">
            Toggles & switches
        </div>
        <div class="panel-body forms">
            <h5 style="margin-bottom: 0; margin-top: 4px;">Checkbox</h5>
            <hr>
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary">
                Checkbox (md-primary): No Ink
            </md-checkbox> <br />
             <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                Checkbox : {{ data.cb1 }}
            </md-checkbox>
            <h5 style="margin-top:30px;">Radio Button</h5>
            <hr>
            <md-radio-group ng-model="data.group1">
                <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
                <md-radio-button value="Banana"> Banana </md-radio-button>
                <md-radio-button value="Mango">Mango</md-radio-button>
            </md-radio-group>
            <h5 style="margin-top:30px;">Switch</h5>
            <hr> 
            <md-switch ng-model="data.switch1" aria-label="Switch 1">
                Switch 1: {{ data.switch1 }}
            </md-switch>
        </div>
    </div>
    <div class="mdl-cell" flex="50" flex-sm="100" flex-xs="100" style="background: white;">
        <div class="panel-header">
            Others
        </div>
        <div class="panel-body forms">
            <h5 style="margin-bottom: 0; margin-top: 4px;">Dialogs</h5>
                <hr>
                <md-button class="md-primary md-raised" ng-click="showAlert($event)" flex flex-md="100">
                    Alert Dialog
                </md-button>
                <md-button class="md-primary md-raised" ng-click="showConfirm($event)" flex flex-md="100">
                    Confirm Dialog
                </md-button>
            <h5 style="margin-bottom: 24px;">Custom Chip</h5>
                <hr>
                <md-chips ng-model="roFruitNames" readonly="readonly">
                    <md-chip-template>
                        <strong>{{$chip}}</strong>
                        <em>(fruit)</em>
                    </md-chip-template>
                </md-chips>
            <h5 style="margin-bottom: 24px;">Default Chip</h5>
                <hr>
                <md-chips ng-model="fruitNames" readonly="readonly"></md-chips>
        </div>
    </div>
</div>