<div class="demo-grid-ruler mdl-grid">
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
<div class="mdl-cell shadow mdl-cell--1-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--1-col</div>
</div>
<div class="demo-grid-1 mdl-grid">
<div class="mdl-cell shadow mdl-cell--4-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--4-col</div>
<div class="mdl-cell shadow mdl-cell--4-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--4-col</div>
<div class="mdl-cell shadow mdl-cell--4-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--4-col</div>
</div>
<div class="demo-grid-2 mdl-grid">
<div class="mdl-cell shadow mdl-cell--6-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--6-col</div>
<div class="mdl-cell shadow mdl-cell--4-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--4-col</div>
<div class="mdl-cell shadow mdl-cell--2-col" style="background: white; height: 100px; padding: 15px;">mdl-cell--2-col</div>
</div>
<div class="demo-grid-3 mdl-grid">
<div class="mdl-cell shadow mdl-cell--6-col mdl-cell--8-col-tablet" style="background: white; height: 100px; padding: 15px;">mdl-cell--8-col-tablet</div>
<div class="mdl-cell shadow mdl-cell--4-col mdl-cell--6-col-tablet" style="background: white; height: 100px; padding: 15px;">mdl-cell--6-col-tablet</div>
<div class="mdl-cell shadow mdl-cell--2-col mdl-cell--4-col-phone" style="background: white; height: 100px; padding: 15px;">mdl-cell--4-col-phone</div>
</div>