<div class="row">
    <h2>SectioN {{esSectionIdx + 1}} - {{esPsDef.Sections[esSectionIdx].Description}} [{{esPsDef.Sections[esSectionIdx].Code}}]</h2>
    <form class="form" name="section_{{esSectionIdx + 1}}">
        <div class="row">
            <div class="form-group col-xs-12" ng-class="{'has-error': section_{{esSectionIdx + 1}}.{{::esGlobals.esConvertGIDtoId(question.GID)}}.$invalid && section_{{esSectionIdx + 1}}.{{::esGlobals.esConvertGIDtoId(question.GID)}}.$dirty}" ng-repeat="question in esPsDef.Lines | filter: {Category_Code: esPsDef.Sections[esSectionIdx].Code, PType: 4} | orderBy:'SeqNum'">
                <label class="control-label es-question">Question {{$index + 1}} - {{question.Description}} [{{question.Code}}]</label>
                {{question.PType}}
                <input class="form-control es-param-control" 
					name="{{::esGlobals.esConvertGIDtoId(question.GID)}}"
					ng-required="true"
					ng-model="esPsVal[question.Code]"/>
            </div>

            <button class="btn btn-primary" ng-disabled="section_{{esSectionIdx + 1}}.$invalid">Next</button>
        </div>
    </form>
</div>
