<div>
	<form novalidate class="form" name="esParamsPanelForm">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="(key, prop) in esPsDef track by key">
                <label class="control-label">{{key}}</label>
                <input class="form-control" ng-model="esPsDef[key]" readonly/> 
            </div>
        </div>
	</form>

	<hr/>
	<div ng-bind-html="::esPsDef.Campaign.TaskNotes">
	</div>
	<hr/>
	{{esPsVal | json}}
	<hr/>
	<div class="row">
		<div ng-repeat="section in esPsDef.Sections">
            <es-property-section es-section-idx="$index" es-ps-def="esPsDef" es-ps-val="esPsVal"/>
        </div>
	</div>
</div>