<p class="input-group">
	<input 
		type="text" 
		class="es-survey-question-control form-control" 
		is-open="calendarStatus.opened" 
		name="{{esGlobals.esConvertGIDtoId(esQuestion.GID)}}" 
    	ng-required="esQuestion.Mandatory" 
    	uib-datepicker-popup="{{calendarFormat}}"
    	ng-model="esPsVal[esQuestion.Code]" 
		close-text="Close" />
	<span class="input-group-btn">
	<button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	</span>
</p>