<!doctype html>
<html lang="en" ng-app="smeApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entersoft ESWEB API Sample</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/telerik/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="lib/telerik/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="lib/telerik/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="lib/telerik/styles/kendo.dataviz.bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body ng-controller="mainCtrl" ng-cloak>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Hello from a {{esGlobals.isMobile ? "Mobile" : "Desktop"}}</h1>
                    <div class="yyy">
                        <img ng-if="blob" width="258px" height="59px" class="item" ng-src="{{'data:image/jpg;base64,' + blob}}" />
                        <img width="258px" height="59px" class="item" src="eslogo.png" />
                    </div>
                    <div class="container" class="row">
                        <h3 class="col-sm-3 hidden-sm">Entersoft&hearts;Web Api</h3>
                        <button id="configure" ng-click="configure()" class="visible-xs"><span class="glyphicon glyphicon-align-justify"></span></button>
                        <div id="configurator-wrap" class="col-sm-9 hidden-xs">
                            <div id="configurator" class="row">
                                <label class="col-sm-4">
                                    <div class="description">Dimensions</div>
                                    <select id="dimensions" kendo-drop-down-list k-options="dimensionOptions" k-ng-delay="dimensionOptions" k-value-primitive="true" k-ng-model="dimension">
                                    </select>
                                </label>
                                <label class="col-sm-4">
                                    <div class="description">Theme</div>
                                    <select id="theme" kendo-drop-down-list k-options="themeOptions" k-ng-delay="themeOptions" k-value-primitive="true" k-ng-model="theme"></select>
                                </label>
                                <label class="col-sm-4">
                                    <div class="description">Font-size</div>
                                    <select id="font-size" kendo-drop-down-list k-options="fontsizeOptions" k-ng-delay="fontsizeOptions" k-value-primitive="true" k-ng-model="fontsize"></select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="example" class="container">
        <div class="row">
            <div class="col-xs-12">
                <span kendo-notification="esnotify" auto-hide-after="3000"></span>
                <ul kendo-menu id="menu">
                    <li>
                        <a href="#/login">Login</a>
                    </li>
                    <li>
                        <a href="#/examples">Examples</a>
                    </li>
                    <li>
                        <a href="#/properties">Properties</a>
                    </li>
                    <li>
                        <a href="#/pq">Public Query</a>
                    </li>
                    <li>
                        <a href="#/webpq">Full Screen Report</a>
                    </li>
                    <li>
                        <a href="#/masdetpq">Master-Detail Report</a>
                    </li>
                    <li>
                        <a href="#/opportunities">Opportunities</a>
                    </li>
                    <li>
                        <a href="#/survey">Survey</a>
                    </li>
                    <li>
                        <a href="#/maps">ES Maps</a>
                    </li>
                    <li>
                        <a href="#/salesforce">Sales People</a>
                    </li>
                </ul>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-view></div>
        </div>
        <div class="row">
            <footer class="col-xs-12">Copyright &copy; 2015 <a href="http://www.entersoft.eu/">Entersoft SA</a>. All rights reserved.</footer>
        </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngStorage/ngstorage.min.js"></script>
    <script src="bower_components/stacktrace-js/dist/stacktrace.js"></script>
    <script src="bower_components/log4javascript/js/log4javascript.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src='bower_components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="bower_components/jscache/cache.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="lib/eswebapi/dist/eswebapi.js"></script>
    <script src="lib/eswebapi/dist/eswebapi.templates.js"></script>
    <script src="lib/telerik/js/jszip.min.js"></script>
    <script src="lib/telerik/js/kendo.all.min.js"></script>
    <script src="lib/telerik/js/cultures/kendo.culture.el-GR.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/esgridcontroller.js"></script>
    <script src="js/theme-chooser.js"></script>
</body>

</html>
