<!doctype html>
<html lang="en" ng-app="smeApp">

<head>
    <meta charset="utf-8">
    <title>Entersoft ESWEB API Sample</title>
    <link rel="stylesheet" href="lib/telerik/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="lib/telerik/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="lib/telerik/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="lib/telerik/styles/kendo.dataviz.material.min.css" />
</head>

<body ng-cloak ng-controller="esPQCtrl">
    <div>
        <h1>
        {{currentUser.Name}} - PQ {{pqInfo.caption}}
        </h1>
        <h3>
         ESAngular Version is {{version.esAngularVersion}}
        </h3>
        <h3>
         ESWebApi Version is {{version.esWebAPIVersion}}
        </h3>
        <div>
            <ul kendo-panel-bar>
                <li ng-repeat="x in cMenu.panels">
                    {{x.title}}
                </li>
            </ul>
        </div>
        <div>
            <kendo-grid xk-ng-delay="version.esEBSVersion" k-data-source="version.esEBSVersion.ESProperty" height="400" k-scrollable="true" />
        </div>

        <hr>
        <button es-analytics-on es-analytics-category="hello stavros" type="submit" ng-click="execute()">Execute</button>
    </div>
    <div ng-cloak>
        <input type="text" ng-model="GroupID" class="form-control" placeholder="Entersoft Public Query Group ID" required autofocus>
        <input type="text" ng-model="FilterID" class="form-control" placeholder="Entersoft Public Query Filter ID" required>
        <!-- <textarea>{{pVals}}</textarea> -->
        <hr>
        <!-- <es-params-panel ng-cloak es-params-values="pVals" es-group-id="GroupID" es-filter-id="FilterID" es-params-def="pqInfo.params"></es-params-panel> -->

        <!-- <es-params-panel ng-cloak es-params-values="pVals" es-group-id="GroupID" es-filter-id="FilterID" ></es-params-panel> -->

        <es-web-pq es-group-id="GroupID" es-filter-id="FilterID"></es-web-pq>
        <hr>
    </div>

    <!-- <div ng-cloak>
        <es-grid es-group-id="GroupID" es-filter-id="FilterID" es-grid-options="gridOptions"  es-execute-params="pVals" />
    </div> -->


    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngStorage/ngstorage.min.js"></script>
    <script src="bower_components/stacktrace-js/dist/stacktrace.js"></script>
    <script src="bower_components/log4javascript/js/log4javascript.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/jscache/cache.js"></script>
    <script src="lib/eswebapi/eswebapi.min.js"></script>
    <script src="lib/eswebapi/eswebapi.templates.js"></script>
    <script src="lib/telerik/js/jszip.min.js"></script>
    <script src="lib/telerik/js/cultures/kendo.culture.el-GR.min.js"></script>
    <script src="lib/telerik/js/kendo.all.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/esgridcontroller.js"></script>
</body>

</html>
