/*
.k-grid .k-grid-header
{
   padding: 0 !important;
}

.k-grid .k-grid-content
{
   overflow-y: visible;
}
*/

.k-pdf-export .k-grid-toolbar,
.k-pdf-export .k-pager-wrap {
    display: none;
}

input.es-param-control,
.es-param-control.k-dropdown {
    height: 36px;
}

.es-param-control {
    width: 100%;
}


/* Make all the column headers centered */

.es-table-header-cell {
    text-align: center !important;
}
