<div>
	<form name="survey">
		<div class="row form-group" ng-class="{ 'has-error': survey.Code.$invalid }">
			<label>Survey ID</label>
			<input class="form-control" type="text" name="Code" required ng-model="surveyCode"/>
			<button class="btn-primary" ng-click="loadSurvey()">Load Survey</button>
			<hr/>
		</div>
	</form>
	<div class="row">
		<!-- <es-property-set es-ps-def="surveyDef" es-ps-val="surveyAns"/> -->

		<es-property-set es-section-idx="startFrom" es-ps-def="surveyDef" es-ps-val="surveyAns"/>

	</div>
</div>