<input
	ng-if="!esQuestion.PArg"
    class="es-survey-question-control form-control" 
    type="number"
    	name="{{esGlobals.esConvertGIDtoId(esQuestion.GID)}}" 
    	ng-required="esQuestion.Mandatory" 
    	align="right" 
    	pattern="[0-9]+"
    	ng-model="esPsVal[esQuestion.Code]" 
/>

<uib-rating
	ng-if="esQuestion.PArg && (esQuestion.PArg.slice(0, 1) != '-')"
	name="{{esGlobals.esConvertGIDtoId(esQuestion.GID)}}" 
    es-positive-integer="!esQuestion.Mandatory"
	ng-model="esPsVal[esQuestion.Code]"
	max="{{esQuestion.PArg}}">
</uib-rating>

<div ng-if="esQuestion.PArg && (esQuestion.PArg.slice(0, 1) == '-')" ng-repeat="option in getScale(esQuestion.PArg)">
    <label>
        <input 
            type="radio" 
            name="{{esGlobals.esConvertGIDtoId(esQuestion.GID)}}" 
            ng-required="esQuestion.Mandatory && !esPsVal[esQuestion.Code]" 
            ng-model="esPsVal[esQuestion.Code]" 
            ng-value="option">{{option}}
    </label>
</div>

{{esQuestion.PArg}}