<div class="row">
    <div ng-if="isIntroduction()" class="es-survey-introduction">
        <div>
            <div ng-bind-html="esPsDef.Campaign.TaskNotes" />
        </div>
        <div>
            <button class="btn btn-primary" ng-click="advanceStep()">Start</button>
        </div>
    </div>
    <div ng-show="esSectionIdx >= 0">
        <h2>{{esSectionIdx + 1}}. {{esPsDef.Sections[esSectionIdx].Description}}</h2>
        <form novalidate class="form" name="esqsection">
            <div class="row">
                <ng-form name="esqsection">
                    <div class="es-survey-question form-group col-xs-12 " ng-class="{'has-error': esqsection.{{esGlobals.esConvertGIDtoId(question.GID)}}.$invalid && esqsection.{{esGlobals.esConvertGIDtoId(question.GID)}}.$dirty}" ng-repeat="question in getQuestionsofSection()">
                        <label class="control-label es-survey-question-label">{{$index + 1}}. {{question.Description}}
                            <span ng-if="question.Mandatory"> (*)</span>
                        </label>
                        <label class="es-survey-question-hint">{{question.AlternativeDescription}}</label>

                        <es-property-question es-ps-def="esPsDef" es-question="question" es-ps-val="esPsVal"/>
                    </div>
                </ng-form>
                <div>
                    <button class="btn btn-primary" ng-click="backStep()" ng-disabled="isIntroduction()">Previous</button>
                    <button class="btn btn-primary" ng-click="advanceStep()" ng-hide="isLast()" ng-disabled="esqsection.$invalid">Next</button>
                    <button class="btn btn-primary" ng-click="saveAndComplete()" ng-show="isLast()" ng-disabled="esqsection.$invalid">Save and Close</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row es-survey-progress">
        <uib-progressbar ng-show="!isIntroduction()" animate="true" value="progress()" type="success"><b>{{progress()}}%</b></uib-progressbar>
    </div>
</div>
