/* Variables here */

/* Colors */

$primary: #4CAF50;
$secondary: #ff4081;
$warning: #ffa726;
$pink: #2979ff;
$green: #00D554;


$bg: #f5f5f5;

/* Transition Mixin */

@mixin transition($duration) {
	transition: all $duration cubic-bezier(.27,.63,.5,1.05);
}
