<a href="https://github.com/entersoftsa/eswebapi/edit/master/src/content/installation/es01as.ngdoc" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="entersoft-application-server-page"><h2 id="entersoft-application-server">Entersoft Application Server</h2>
<p>In case that you lack of access to a development environment of Entersoft Business Suite (EBS) you may download a demo version of EBS found in <a href="http://www.entersoft.eu/Demos/Entersoft-showcase-download-demos">Entersoft Business Suite Demo</a>. The demo installs all the necessary components and subsystems for EBS to work either in all in one PC / Server or in a distributed architecture. A demo database is also a part of the installation as well as a Startup DB. While in demo mode, EBS is fully functional with limitations on the number of records you may create. Should an SQL Server installation is not available you may download the Express Edition of SQL Server 2014 from Microsoft’s Site <a href="http://www.microsoft.com/en-us/download/details.aspx?id=42299">SQL Express</a>.</p>
<h3 id="entersoft-application-server"><strong>ATTENTION</strong></h3>
<p>In case you have access to a production environment of EBS, it is strongly recommended to create a development environment either on a side-by-side architecture to your production environment or by installing a local instance of EBS in your development PC.</p>
</div></div>
