<div>
    <br>
    <form name="priceCheckForm" ng-submit="submit()">
        Code:
        <input type="text" ng-model="searchCode" name="searchCode" ng-required="true" />
        <input type="submit" id="submit" value="Search" ng-disabled="isWorking || priceCheckForm.$invalid" />
    </form>
    <hr/>
    <div ng-if="stockRecord">
        <table class="results">
            <tr class="resultRow">
                <td class="colName" ng-class-odd="'oddrow'" ng-class-even="'evenrow'">Barcode</td>
                <td class="colVal" ng-class-odd="'oddrow'" ng-class-even="'evenrow'">{{ scannedValue }}</td>
            </tr>
            
            <tr class="resultRow" ng-repeat="(key, value) in stockRecord | orderBy: key">
                <td class="colName" ng-class-odd="'oddrow'" ng-class-even="'evenrow'">{{ processColumnName(key) }}</td>
                <td class="colVal" ng-class-odd="'oddrow'" ng-class-even="'evenrow'">{{ value}}</td>
            </tr>
        </table>
    </div>
</div>