.k-pdf-export .k-grid-toolbar,
.k-pdf-export .k-pager-wrap {
    display: none;
}

.item {
    flex: 0 0 auto;
    margin: 20px;
}

input.es-param-control,
.es-param-control.k-dropdown {
    height: 36px;
}

.es-param-control {
    width: 100%;
}

.es-param-label {
    text-overflow: ellipsis;
}


/* Make all the column headers centered */

.es-table-header-cell {
    text-align: center !important;
}

.angular-google-map-container {
    width: 100%;
    height: 600px;
}

.xesdashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 600px) {
    .xesdashboard {
        justify-content: space-around;
    }
}

.xesdashboarditem {
    background-color: gray;
    width: 500px;
    height: 500px;
}
