.panel {
	margin-top: 15px;
	background: white;
	padding: 20px;
	font-size: 16px;
	h4 {
		margin-top: 4px;
	}
}

code {
	color: #CB545F;
}

.code-block {
	padding-top: 0;
	background: #292A2B;
	color: white;
	padding: 20px;
	margin: 10px;
	h6:first-child {
		margin-top: 0;
	}
	code {
		color: #2FC53F;		
	}
}
