/* Styles for form */

.forms {
	.mdl-textfield {
		width: 95%;
	}
	.mdl-checkbox {
		width: 25%;
	}
	.mdl-switch {
		width: 10%;
	}
	.mdl-textfield__expandable-holder {
		width: 90%;
	}
	hr {
		margin: 1em 0 1.5em;
	}
}