<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Entersoft Mobile Public Query Viewer</title>
    <link rel="stylesheet" href="styles/eswebapi.min.css" />
    <!-- build:css styles/app.min.css -->
    <link rel="stylesheet" href="eslib.css">
    <!-- endbuild -->
</head>

<body ng-cloak ng-controller="esComponentCtrl" class="esContainer">
    <div id="esWait">
    </div>
    <div ng-if="false">
        <es-login es-credentials="esCredentials" es-on-success="authenticate()" es-login-label="'An Entersoft Cloud Application'" es-login-icon="'images/loginlogo.png'" es-show-subscription="false" es-show-bridge="true" es-show-sticky-session="0">
        </es-login>
    </div>
    <div id="esContainer">
        <span kendo-notification="esnotify" auto-hide-after="3000"></span>
        <es-combo-pq ng-if="esPqDef" es-pq-def="esPqDef" is-favourites-mode="isFav" es-simple-mode="esSimpleMode" es-link-prefix="esLinkPrefix">
        </es-combo-pq>
    </div>
    <script src="js/eswebapi.all.min.js"></script>
    <script src="js/app.min.js"></script>
    
     <!-- build:ESDEBUG -->
    <script type="text/javascript">
    function prepareMobileCall() {
        window.esWebApiSettings = {
            host: "eswebapi-1-10-0.azurewebsites.net",
            allowUnsecureConnection: false,
            UserID: "admin",
            Password: "*****",
            LangID: "en-US",
            bridgeId: "002",
            BranchID: "ΑΘΗ",
            esClaims: {
                "ESApplicationID": "esanalyzer"
            }
        };

        window.esDeviceMode = "";
        window.esGridHeight = "";
        window.esWebApiToken = "";

        window.xxxesDef = {
            "ID": "1234",
            "ESUIType": "eslink"
        };

        window.favesDef = {
            "ESUIType": "esfav"
        };


        window.treeesDef = {
            "AA": 3039,
            "ID": "PQ_3039",
            "Title": "Ανάλυση πωλήσεων ιεραρχίας ειδών",
            "Description": "Ανάλυση πωλήσεων ιεραρχίας ειδών",
            "ESUIType": "estreemap",
            "esDef": {
                "GroupID": "ESWebManager",
                "FilterID": "SalesItemHierarchyAnalysis",
                "UIOptions": {
                    "autobind": true,
                    "Type": "horizontal"
                }
            }

        };
        window.mapesDef = {
            "AA": 3036,
            "ID": "PQ_3036",
            "GroupID": "SALES",
            "Title": "Απεικόνιση πωλήσεων σε χάρτη",
            "ESUIType": "esMap",
            "Description": "Map to exloit your sales performcance",
            "esDef": {
                "GroupID": "ESWebManager",
                "FilterID": "SalesAnalysisByRegion",
                "UIOptions": {
                    "type": "bubble",
                    "autoBind": true,
                    "titleField": "esLabel",
                    "valueField": "Turnover_Value"
                }
            }
        };

        window.pivotesDef = {
            "AA": 30311,
            "ID": "PQ_30311",
            "Title": "Κύβος - Πωλήσεις ανά κατηγορία είδους",
            "ESUIType": "espivot",
            "Description": "Κύβος - Πωλήσεις ανά κατηγορία είδους",
            "PQOptions": {
                "AutoExecute": false
            },
            "esDef": {
                "GroupID": "ESWebManager",
                "FilterID": "SalesCubeByItemCategory",
                "UIOptions": {
                    "enableChart": true,
                    "cubeDef": {
                        "fields": [{
                                "dataField": "Period",
                                "dataType": "date",
                                "groupInterval": "year",
                                "area": "column"
                            },
                            {
                                "dataField": "Period",
                                "dataType": "date",
                                "groupInterval": "quarter",
                                "area": "column"
                            },
                            {
                                "dataField": "Period",
                                "dataType": "date",
                                "groupInterval": "month",
                                "area": "column"
                            },
                            {
                                "dataField": "FamilyDescr",
                                "area": "row"
                            },
                            {
                                "dataField": "GroupDescr",
                                "area": "row"
                            },
                            {
                                "dataField": "CategoryDescr",
                                "area": "row"
                            },
                            {
                                "dataField": "TurnOver",
                                "area": "data"
                            },
                            {
                                "dataField": "SalesQty1",
                                "area": "data"
                            }
                        ]
                    },

                    "pivotOptions": {
                        "allowSortingBySummary": true,
                        "allowSorting": true,
                        "allowFiltering": true,
                        "allowExpandAll": true,
                        "showBorders": true,
                        "fieldChooser": {
                            "enabled": true
                        },
                        "export": {
                            "enabled": true
                        },
                        "fieldPanel": {
                            "showDataFields": true,
                            "showRowFields": true,
                            "showColumnFields": true,
                            "showFilterFields": true,
                            "allowFieldDragging": true,
                            "visible": true
                        }
                    }
                }
            }
        };
        window.chartesDef = {
            "AA": 3042,
            "ID": "PQ_3042",
            "Title": "Μέση τιμή τζίρου & ποσότητας ανά ημέρα",
            "Description": "Μέση τιμή τζίρου & ποσότητας ανά ημέρα",
            "ESUIType": "esChart",
            "esDef": {
                "GroupID": "ESWebManager",
                "FilterID": "SalesRetailAverageTurnOverQuantityByDay",
                "UIOptions": {
                    "autoBind": true,
                    "legend": {
                        "visible": true,
                        "position": "top",
                        "labels": {
                            "template": "#= series.title #"
                        }
                    },
                    "series": [{
                            "type": "column",
                            "field": "ESFIItemPeriodics_TurnOver",
                            "categoryField": "Day",
                            "axis": "ESFIItemPeriodics_TurnOver",
                            "color": "#228B22",
                            "title": "Τζίρος"
                        },
                        {
                            "type": "line",
                            "field": "Quantity",
                            "categoryField": "Day",
                            "axis": "Quantity",
                            "title": "Ποσότητα"
                        }

                    ],
                    "valueAxis": [{
                            "visible": true,
                            "name": "ESFIItemPeriodics_TurnOver",
                            "labels": {
                                "format": "{0}"
                            },
                            "title": {
                                "text": {
                                    "en": "Turnover",
                                    "el": "Τζίρος",
                                    "ro": "",
                                    "bg": ""
                                }
                            }
                        },
                        {
                            "visible": true,
                            "name": "Quantity",
                            "labels": {
                                "format": "{0}"
                            },
                            "title": {
                                "text": {
                                    "en": "Quantity",
                                    "el": "Ποσότητα",
                                    "ro": "",
                                    "bg": ""
                                }
                            }
                        }
                    ],
                    "categoryAxis": {
                        "categories": "Day",
                        "labels": {
                            "rotation": 45,
                            "font": "8px"
                        },
                        "axisCrossingValues": [
                            0,
                            205
                        ]
                    },
                    "tooltip": {
                        "visible": true,
                        "template": " #= category #, <br/>  #= kendo.format('{0:n2}',value )#"
                    }
                }
            }
        };
        window.esDef = {
            "AA": 10103,
            "ID": "PQ_10103",
            "Title": "Επιχειρηματικές διευθύνσεις",
            "Description": "Επιχειρηματικές διευθύνσεις",
            "ESUIType": "esGrid",
            "esDef": {
                "GroupID": "ESWebManager",
                "FilterID": "BusEntitiesBusinessAddresses",
                "PQOptions": {
                    "ServerPaging": true,
                    "PageSize": 20,
                    "AutoExecute": false
                }
            }
        };
        window.comboesDef = {
            "AA": 3040,
            "ID": "PQ_3040",
            "GroupID": "SALES",
            "Title": {
                "en": "",
                "el": "Ανάλυση λιανικής",
                "ro": "",
                "bg": ""
            },
            "Description": "Ανάλυση λιανικής",
            "ESUIType": "esCombo",
            "esDef": [{
                    "AA": 3041,
                    "ID": "PQ_3041",
                    "Title": "Ανάλυση καλαθιού λιανικής ανά υποκατάστημα",
                    "Description": "Ανάλυση καλαθιού λιανικής ανά υποκατάστημα",
                    "ESUIType": "esGrid",
                    "esDef": {
                        "GroupID": "ESWebManager",
                        "FilterID": "SalesRetailMarketBasketAnalysisByBranch",
                        "PQOptions": {
                            "ServerPaging": true,
                            "PageSize": 20,
                            "AutoExecute": false
                        }
                    }
                },
                {
                    "AA": 3042,
                    "ID": "PQ_3042",
                    "Title": "Μέση τιμή τζίρου & ποσότητας ανά ημέρα",
                    "Description": "Μέση τιμή τζίρου & ποσότητας ανά ημέρα",
                    "ESUIType": "esChart",
                    "esDef": {
                        "GroupID": "ESWebManager",
                        "FilterID": "SalesRetailAverageTurnOverQuantityByDay",
                        "UIOptions": {
                            "autoBind": true,
                            "legend": {
                                "visible": true,
                                "position": "top",
                                "labels": {
                                    "template": "#= series.title #"
                                }
                            },
                            "series": [{
                                    "type": "column",
                                    "field": "ESFIItemPeriodics_TurnOver",
                                    "categoryField": "Day",
                                    "axis": "ESFIItemPeriodics_TurnOver",
                                    "color": "#228B22",
                                    "title": "Τζίρος"
                                },
                                {
                                    "type": "line",
                                    "field": "Quantity",
                                    "categoryField": "Day",
                                    "axis": "Quantity",
                                    "title": "Ποσότητα"
                                }

                            ],
                            "valueAxis": [{
                                    "visible": true,
                                    "name": "ESFIItemPeriodics_TurnOver",
                                    "labels": {
                                        "format": "{0}"
                                    },
                                    "title": {
                                        "text": {
                                            "en": "Turnover",
                                            "el": "Τζίρος",
                                            "ro": "",
                                            "bg": ""
                                        }
                                    }
                                },
                                {
                                    "visible": true,
                                    "name": "Quantity",
                                    "labels": {
                                        "format": "{0}"
                                    },
                                    "title": {
                                        "text": {
                                            "en": "Quantity",
                                            "el": "Ποσότητα",
                                            "ro": "",
                                            "bg": ""
                                        }
                                    }
                                }
                            ],
                            "categoryAxis": {
                                "categories": "Day",
                                "labels": {
                                    "rotation": 45,
                                    "font": "8px"
                                },
                                "axisCrossingValues": [
                                    0,
                                    205
                                ]
                            },
                            "tooltip": {
                                "visible": true,
                                "template": " #= category #, <br/>  #= kendo.format('{0:n2}',value )#"
                            }
                        }
                    }
                },

                {
                    "AA": 3043,
                    "ID": "PQ_3043",
                    "Title": "Φόρτος συναλλαγών ανά εβδομάδα",
                    "Description": "Φόρτος συναλλαγών ανά εβδομάδα",
                    "ESUIType": "esChart",
                    "esDef": {
                        "GroupID": "ESWebManager",
                        "FilterID": "SalesRetailTransactionLoadAnalysisByWeek",
                        "UIOptions": {
                            "autoBind": true,
                            "legend": {
                                "visible": true,
                                "position": "top",
                                "labels": {
                                    "template": "#= series.title #"
                                }
                            },
                            "series": [{
                                    "type": "column",
                                    "field": "ESFIItemPeriodics_TurnOver",
                                    "categoryField": "Week",
                                    "axis": "ESFIItemPeriodics_TurnOver",
                                    "color": "#228B22",
                                    "title": "Τζίρος"
                                },
                                {
                                    "type": "line",
                                    "field": "ESFIItemPeriodics_SalesQty",
                                    "categoryField": "Week",
                                    "axis": "ESFIItemPeriodics_SalesQty",
                                    "title": "Ποσότητα"
                                }

                            ],
                            "valueAxis": [{
                                    "visible": true,
                                    "name": "ESFIItemPeriodics_TurnOver",
                                    "labels": {
                                        "format": "{0}"
                                    },
                                    "title": {
                                        "text": {
                                            "en": "Turnover",
                                            "el": "Τζίρος",
                                            "ro": "",
                                            "bg": ""
                                        }
                                    }
                                },
                                {
                                    "visible": true,
                                    "name": "ESFIItemPeriodics_SalesQty",
                                    "labels": {
                                        "format": "{0}"
                                    },
                                    "title": {
                                        "text": {
                                            "en": "Number of transactions",
                                            "el": "Πλήθος συναλλαγών",
                                            "ro": "",
                                            "bg": ""
                                        }
                                    }
                                }
                            ],
                            "categoryAxis": {
                                "categories": "Week",
                                "labels": {
                                    "rotation": 45,
                                    "font": "8px"
                                },
                                "axisCrossingValues": [
                                    0,
                                    205
                                ]
                            },
                            "tooltip": {
                                "visible": true,
                                "template": " #= category #, <br/>  #= kendo.format('{0:n2}',value )#"
                            }
                        }
                    }
                }
            ]
        };
    };
    prepareMobileCall();
    window.angular.element(document).ready(function() {
        {
            window.angular.bootstrap(document, ['esWebPqApp']);
        }
    });
    </script>
    <!-- endbuild -->
</body>

</html>