<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Entersoft Mobile Public Query Viewer</title>
    <!-- Google Analytics -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    </script>
    <script type="text/javascript">
    </script>
    <!-- End Google Analytics -->
    <link rel="stylesheet" href="styles/eswebapi.min.css" />
    <!-- build:css styles/app.min.css -->
    <link rel="stylesheet" href="eslib.css">
    <!-- endbuild -->
</head>

<body ng-cloak ng-controller="esComponentCtrl" class="esContainer">
    <div id="esWait">
    </div>
    <div ng-if="doShowForm">
        <es-login es-credentials="esCredentials" es-on-success="authenticate()" es-login-label="'An Entersoft Cloud Application'" es-login-icon="'images/loginlogo.png'" es-show-subscription="false" es-show-bridge="true" es-show-sticky-session="0">
        </es-login>
    </div>
    <div id="esContainer" class="container-fluid">
        <span kendo-notification="esnotify" auto-hide-after="3000"></span>
        <es-combo-pq ng-if="esPqDef" es-pq-def="esPqDef" is-favourites-mode="false" es-simple-mode="true">
        </es-combo-pq>
    </div>
    <script src="js/eswebapi.all.min.js"></script>
    <script src="js/app.min.js"></script>
    
    <script type="text/javascript">
    function prepareMobileCall() {
        window.esWebApiSettings = {
            host: "api.entersoft.gr",
            allowUnsecureConnection: false,
            UserID: "realtest/mza",
            Password: "1234",
            LangID: "el-GR",
            bridgeId: "001",
            BranchID: "ΑΘΗ",
            esClaims: {
                "ESApplicationID": "esanalyzer"
            }
        };

        window.esDeviceMode = "";
        window.esGridHeight = "";
        window.esWebApiToken = "";

        window.esDef = {
            "AA": 60100,
            "ID": "PQ_60100",
            "Title": {
                "en": "Customers",
                "el": "Πελάτες",
                "ro": "Clienti",
                "bg": "Клиенти"
            },
            "Description": "Πελάτες",
            "ESUIType": "escard",
            "esDef": {
                "GroupID": "ESWebManager",
                "FilterID": "BusEntitiesCustomers",
                "PQOptions": {
                    "ServerPaging": true,
                    "PageSize": 20,
                    "AutoExecute": true
                },
                "UIOptions": {
                    "headerField": "Name",
                    "titleField": "Code",
                    "footerField": "Footer",
                    "tagField": "tagField",
                    "imageField": "BlobGID",
                    "maxCards": 3300
                }
            }
        };


    };
    prepareMobileCall();
    window.angular.element(document).ready(function() {
        {
            window.angular.bootstrap(document, ['esWebPqApp']);
        }
    });
    </script>
    
</body>

</html>