<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Entersoft Mobile Public Query Viewer</title>
    <!-- Google Analytics -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    </script>
    <script type="text/javascript">
    </script>
    <!-- End Google Analytics -->
    <link rel="stylesheet" href="styles/eswebapi.min.css" />
    <!-- build:css styles/app.min.css -->
    <link rel="stylesheet" href="eslib.css">
    <!-- endbuild -->
</head>

<body ng-cloak ng-controller="esComponentCtrl" class="esContainer">
    <div id="esWait">
    </div>
    <div ng-if="doShowForm">
        <es-login es-credentials="esCredentials" es-on-success="authenticate()" es-login-label="'An Entersoft Cloud Application'" es-login-icon="'images/loginlogo.png'" es-show-subscription="false" es-show-bridge="true" es-show-sticky-session="0">
        </es-login>
    </div>
    <div id="esContainer" class="container-fluid">
        <span kendo-notification="esnotify" auto-hide-after="3000"></span>
        <es-combo-pq ng-if="esPqDef" es-pq-def="esPqDef" is-favourites-mode="false" es-simple-mode="true">
        </es-combo-pq>
    </div>
    <script src="js/eswebapi.all.min.js"></script>
    <script src="js/app.min.js"></script>

    <!-- build:ESDEBUG -->
    <script type="text/javascript">
    function prepareMobileCall() {
        window.esWebApiSettings = {
            host: "api.entersoft.gr",
            allowUnsecureConnection: false,
            UserID: "realtest/BLA",
            Password: "BLBLABLABLA",
            LangID: "el-GR",
            bridgeId: "001",
            BranchID: "ΑΘΗ",
            esClaims: {
                "ESApplicationID": "esanalyzer"
            }
        };

        window.esDeviceMode = "";
        window.esGridHeight = "";
        window.esWebApiToken = "";

        window.esDef = {
            "AA": 30400,
            "ID": "PQ_30400",
            "GroupID": "CML",
            "Title": {
                "en": "Turnover statistics",
                "el": "Στατιστικά τζίρου",
                "ro": "Statistici cifra de afaceri",
                "bg": "Оборотна статистика"
            },
            "Description": "Στατιστικά τζίρου",
            "ESUIType": "esCombo",
            "GlobalParamsPanel": {
                "AutoExecute": true,
                "esPanelOpen": {
                    "status": true
                },
                "Parameters": [{
                    "id": "Period",
                    "aa": 1,
                    "caption": {
                        "en": "Period",
                        "el": "Περίοδος",
                        "ro": "Perioada",
                        "bg": "Период"
                    },
                    "controlType": 6,
                    "parameterType": "Entersoft.Framework.Platform.ESDateRange, QueryProcess",
                    "precision": 0,
                    "multiValued": true,
                    "visible": true,
                    "required": false,
                    "defaultValues": [{
                        "Value": "ESDateRange(Month, -11, Month, 0)"
                    }]
                }]
            },
            "esDef": [
                [{
                    "AA": 30410,
                    "ID": "PQ_30410",
                    "Title": {
                        "en": "Item hierarchy turnover analysis",
                        "el": "Ανάλυση τζίρου ιεραρχίας είδους",
                        "ro": "Analiza cifrei de afaceri - ierarhic",
                        "bg": "йерархия на артикули анализи на оборота"
                    },
                    "ESUIType": "estreemap",
                    "esDef": {
                        "GroupID": "ESWebManager",
                        "FilterID": "SalesItemHierarchyAnalysis",
                        "UIOptions": {
                            "theme": "Bootstrap",
                            "Type": "horizontal"
                        }
                    }
                }],
                [{
                    "AA": 30420,
                    "ID": "PQ_30420",
                    "Title": {
                        "en": "Sales by item category",
                        "el": "Πωλήσεις ανά κατηγορία είδους",
                        "ro": "Vanzari dupa categoria articolului",
                        "bg": "Продажби по категория артикул"
                    },
                    "ESUIType": "espivot",
                    "Description": "Πωλήσεις ανά κατηγορία είδους",
                    "PQOptions": {
                        "AutoExecute": true
                    },
                    "esDef": {
                        "GroupID": "ESWebManager",
                        "FilterID": "SalesCubeByItemCategory",
                        "UIOptions": {
                            "theme": "Bootstrap",
                            "enableChart": true,
                            "autoBind": true,
                            "cubeDef": {
                                "fields": [{
                                        "dataField": "Period",
                                        "dataType": "date",
                                        "groupInterval": "year",
                                        "area": "column"
                                    },
                                    {
                                        "dataField": "Period",
                                        "dataType": "date",
                                        "groupInterval": "quarter",
                                        "area": "column"
                                    },
                                    {
                                        "dataField": "Period",
                                        "dataType": "date",
                                        "groupInterval": "month",
                                        "area": "column"
                                    },
                                    {
                                        "dataField": "FamilyDescr",
                                        "area": "row"
                                    },
                                    {
                                        "dataField": "GroupDescr",
                                        "area": "row"
                                    },
                                    {
                                        "dataField": "CategoryDescr",
                                        "area": "row"
                                    },
                                    {
                                        "dataField": "SubCategoryDescr",
                                        "area": "row"
                                    },
                                    {
                                        "dataField": "TurnOver",
                                        "area": "data"
                                    },
                                    {
                                        "dataField": "SalesQty1",
                                        "area": "data"
                                    }
                                ]
                            },
                            "pivotOptions": {
                                "allowSortingBySummary": true,
                                "allowSorting": true,
                                "allowFiltering": true,
                                "allowExpandAll": true,
                                "showBorders": true,
                                "fieldChooser": {
                                    "enabled": true
                                },
                                "export": {
                                    "enabled": true
                                },
                                "fieldPanel": {
                                    "showDataFields": true,
                                    "showRowFields": true,
                                    "showColumnFields": true,
                                    "showFilterFields": true,
                                    "allowFieldDragging": true,
                                    "visible": false
                                }
                            }
                        }
                    }
                }],
                [{
                    "AA": 30430,
                    "ID": "PQ_30430",
                    "Title": {
                        "en": "Top items (Turnover)",
                        "el": "Κορυφαία είδη βάσει τζίρου",
                        "ro": "Top articole in CA",
                        "bg": "Топ артикули в оборот"
                    },
                    "Description": "Κορυφαία είδη βάσει τζίρου",
                    "ESUIType": "esGrid",
                    "esDef": {
                        "GroupID": "ESWebManager",
                        "FilterID": "SalesTopTurnoverItems",
                        "PQOptions": {
                            "ServerPaging": true,
                            "PageSize": 20,
                            "AutoExecute": false
                        }
                    }
                }],
                [{
                    "AA": 30440,
                    "ID": "PQ_30440",
                    "Title": {
                        "en": "Top customers (Turnover)",
                        "el": "Κορυφαίοι πελάτες βάσει τζίρου",
                        "ro": "Top clienti in CA",
                        "bg": "Топ клиенти в оборот"
                    },
                    "Description": "Κορυφαίοι πελάτες βάσει τζίρου",
                    "ESUIType": "esGrid",
                    "esDef": {
                        "GroupID": "ESWebManager",
                        "FilterID": "SalesTopTurnoverCustomers",
                        "PQOptions": {
                            "ServerPaging": true,
                            "PageSize": 20,
                            "AutoExecute": false
                        }
                    }
                }]
            ]
        };


    };
    prepareMobileCall();
    window.angular.element(document).ready(function() {
        {
            window.angular.bootstrap(document, ['esWebPqApp']);
        }
    });
    </script>
<!-- endbuild -->
    
</body>

</html>