
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* Style for global elements */

body, html {
        font-family: 'Lato', sans-serif;
        position: static !important;
        background: #ebebeb!important;
}


a:focus, a:hover,
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: none;
box-shadow: none;}

.btn{border-radius: 0px;}

#esContainer{
    font-family: 'Lato', sans-serif;
    background: #ebebeb!important;
    width: 96%;
    margin: auto;
    margin-top: 10px;
}


#esContainer form{
    padding: 0px;
    margin: 0 -15px;
}


#esContainer a:focus {
        outline: none;
}

#esContainer h2 {
        font-size: 45px;
        font-weight: 300;
}
#esContainer h3 {
        font-size: 20px;
        font-weight: 100;
        line-height: 24px;}

#esContainer h1 {
        font-size: 42px;
        line-height: 42px;
        text-transform: capitalize;
        color: #444;
}
#esContainer .btn {
        border-radius: 0px;
}
#esContainer a:hover, #esContainer a:focus, #esContainer a:visited {
    text-decoration: none;
}
#esContainer input[type=checkbox], #esContainer input[type=radio] {
        margin: 21px 0 0px 0px
}

#esContainer .btn-primary{
    color: #fff;
    background-color: #65adc4!important;
            outline: 0;
        outline: 0px;
        border: 0px;

}


.btn-primary:hover, .btn-primary.focus, .btn-primary:focus,.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary,
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
    color: #fff;
    background-color: #3c879f!important;
    border-radius: 0px;
    outline: 0;
    outline: 0px;
    border: 0px;
}


#esContainer .btn.active.focus, #esContainer .btn.active:focus, #esContainer .btn.focus, #esContainer .btn:active.focus, #esContainer .btn:active:focus, #esContainer .btn:focus {
     outline: 0px auto -webkit-focus-ring-color;
     outline-offset: -2px; 
}


.btn-primary{
    color: #fff;
    background-color: #65adc4!important;background: #65adc4!important;    outline: 0;
    outline: 0px;
    border: 0px;
    border-radius: 0px;
}




button.btn.btn-info.md-button {
        background: #19afb7;
        width: 30px;
}
button.btn.btn-danger.md-button {
        background: #c76666;
}
button.btn.btn-success.left.md-button {
        background: #32b567;
}

#esContainer .form-group {height: 61px;margin-bottom: 15px;padding-top: 0px;

}

#esContainer .btn.active, #esContainer .btn:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
        */ box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
}
#esContainer .btn, #esContainer .k-datetimepicker .k-select+.k-select, #esContainer .k-dropdown-wrap .k-select, #esContainer .k-list-container.k-state-border-right, 
#esContainer .k-numeric-wrap .k-select, #esContainer .k-picker-wrap .k-select {
        outline: 0px;
        border: 0px;
}
#esContainer .btn-primary.focus, #esContainer .btn-primary:focus, #esContainer .btn-primary.hover, #esContainer .btn-primary:hover, #esContainer .btn-primary:hover, 
#esContainer .btn.focus, #esContainer .btn:focus, #esContainer .btn:hover {
        outline: 0px;
        border: 0px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2681ac;}

#esContainer label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: -3px;
        font-weight: 100;
        color: #7a7f8c;
        font-size: 0.9em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 10px;
}

#esContainer .table>tbody>tr>td, #esContainer>.table>thead>tr>td {
        border-top: 0px none!important;
        border-bottom: 1px solid #b2c0c1;
}
#esContainer .table>tbody>tr>th, #esContainer>.table>thead>tr>th {
        border-bottom: 0px none;
        margin-top: 10px;
        padding-top: 20px;
}


.panel-default .panel-heading {
        color: #5e6f77;
}



#esContainer .panel-info>.panel-heading {
        color: #5e6f77;
        background-color: #FFF;
        border-color: transparent!important;
        border:0px;
        padding-top: 0px;
        padding: 0px;
}
#esContainer .panel-info {
        border-color: transparent!important;
}

.panel-default .panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
    padding: 0px;
}

.panel-default  {
    color: #333;
    background-color: #ffffff;
    border-color: transparent;
    padding: 0px;
}



#esContainer .table>tbody>tr>td, #esContainer .table>tbody>tr>th, #esContainer .table>tfoot>tr>td, #esContainer .table>tfoot>tr>th, #esContainer .table>thead>tr>td, #esContainer .table>thead>tr>th {
        text-align: left;
        border-top: 1px solid #b2c0c1;
}
.clear {
        display: block;
        clear: both;
}

#esContainer .tooltip, #esContainer .tooltips .mdi {
        z-index: 999999999999999999999999;
        background: #fff;
}


#esContainer .label-info {
    background-color: #c1c1c1;
    font-size: 13px;
}

.mdl-cell.shadow {
        margin-bottom:20px;
}



/*heart btn positioning-styling*/
.actions-r {
    text-align: right;
}

.btn .btn-transparent a:hover,.btn-transparent a:focus, .actions-r a:focus, .actions-r a:hover, .actions-r a {
    outline: none;
    border:0px;
}

.btn-transparent{background: transparent; color: #65adc4;  }

.btn-transparent a{color: #65adc4;    font-size: 1.5em;  }  

.btn-transparent a:hover{color: #1c4957;}  
/*heart btn positioning-styling---ends*/


#esContainer .modal form{padding-top: 0px;}

#esContainer .modal-header {
    padding: 15px;
    border-bottom: 1px solid #46b8da;
    background: #5bc0de;
    color: #fff;

}
#esContainer .panel {
    margin-top: 0px;
    background: white;
    padding: 0px;
    font-size: 16px;
    width: 100%;
    background: transparent;
    padding: 0 0 20px 0;
    font-size: 16px;
    border: 0 none;
}

#esContainer .panel-default>.panel-heading+.panel-collapse>.panel-body {
        padding: 0px;
        padding-top: 0px
}
#esContainer .btn-primary, #esContainer .btn-primary.focus, #esContainer .btn-primary:focus {
        color: #fff;
        background-color: #65adc4;
}


#esContainer .panel-body {
    text-align: center;
    position: inherit;
    padding: 0;
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 58px;
}
#esContainer .panel-body .row {
    height: 14.28%;
    overflow: hidden;
    width: 100%;
    margin: auto;
    text-align: left;
    /* padding-bottom: 15px; */
    margin-bottom: -36px;
}
#esContainer .panel-group .panel {
        margin-bottom: 0;
        border-radius: 0px;
}
#esContainer .panel-group {
        margin-bottom: 0;
}
.panel-group {
        margin-bottom: 0;
}

#esContainer > h4.modal-title {
    font-size: 18px;
}


.panel-title .pull-right{
    float: left!important;
    margin-right: 9px;
    margin-top: 4px;
    padding-left: 0px;
}
.esContainer .panel-title {
        font-size: 16px;
        color: inherit;
        color: #5a85a9;
        line-height: 16px;
        padding:10px;
}
.esContainer .panel h4 {
    color: #3c99b6;
    text-align: left;
    line-height: 25px;
    font-weight: 600;
    padding-top: 10px;
}

.esContainer .esLogin-form input{
    height: 26px;
    border-radius: 0px;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
}


.esContainer form.esLogin-form {
    box-shadow: 1px 1px 7px 0 rgba(145,145,145,.5);
    padding: 52px;
    margin-top: -24px;
    border: 1px solid #fff;
    background: #fafafa;
    border-radius: 35px;
}

.esContainer .btn-block, .esContainer .btn-lg {
       width: 30%;
    margin: 20px auto;
    border-radius: 0px;
}

/*--------------------------------date panel*/
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #46b8da;
    background: #5bc0de;
    color: #fff;
}

.modal-content{border-radius: 0px;}

.modal-style {
    color: #0996c3;
    background-color: #fff;
    border-color: #46b8da!important;
    border: 1px solid #0996c3!important;
    text-align: left;
    padding: 5px 12px 3px 12px;
    verflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 32px;
}
.modal-style .mdi {
    margin-top: 2px;
    position: absolute;
    float: right;
    right: 16px;
    height: 21px;
    width: 20px;
    padding-top: 2px;
    padding-left: 3px;
}


.date-title h4 {
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px;
}

.date-title .panel-heading {
        padding: 15px 0;
}


.k-filter-row th, .k-grid-header th.k-header {
        font-weight: 600;
        color: #516c79;
        font-size: 13px;
}

.k-grid tr:hover {
        background-color: #d8e7ec;
}
.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
        color: #fff;
        background-color: #65adc4;
        border-color: #718a92;
}

.k-autocomplete.k-state-default .k-input, .k-combobox .k-state-default .k-input, .k-numeric-wrap.k-state-default .k-input, .k-picker-wrap.k-state-default .k-input, .k-progress-status-wrap, .k-slider-selection, .k-slider-track {
    height: 30px;
}
.date-title .col-xs-6, .date-title .col-xs-12 {
        padding-left: 0px!important;
        padding-right: 0px;
}
.date-title .col-xs-6:last-child {
        padding-right: 0px!important;
}

.k-grouping-row .k-icon {
        margin: -3px 4px 0 2px;
        font-size: 27px;
        color: #428bca;
}
/*-----------------------------------date ends*/






#esContainer >.btn-successs {
        color: #fff;
        background-color: #449d44;
        border-color: #255625;
}

.k-popup .k-list .k-state-focused {
     border-radius:0px;background: #5bc0de;}

.k-multiselect .k-button {
    color: #fff;
    border-color: #65adc4;
    background-color: #65adc4;
}

.k-multiselect:hover .k-button:hover {
    color: #fff;
}

.es-table-header-cell {
    text-align: center !important;
}

.es-param-control {
    width: 100%;
}

.es-param-label {
    text-overflow: ellipsis;
    padding: 0px; 
}

.k-combobox .k-dropdown-wrap:before, .k-picker-wrap:before, .k-numeric-wrap:before {
    content: "";
    display: inline;
}

.k-widget.k-multiselect.k-header.form-control.es-param-control{
    height: 33px;
}
span.k-icon.k-i-calendar {
    color: #5bc0de;
}

.k-button .k-icon:hover {
        color: #fff;
}
span.k-icon.k-i-reload {
        color: #fff;
        margin-top: 0px;
}




/*-------------------------pager styling*/
a.k-pager-refresh.k-link {
        background: #65adc4;
        color: #fff;
}


.k-pager-wrap {
    color: #333;
    background: #fff;
    border-top: 0 none;
    padding: 10px;
    padding-top: 20px;
}

.k-icon:hover {
        color: #2681ac;
}

.k-pager-info {
    padding-top: 5px;
    color: #5896b3;
}

.k-pager-numbers .k-link, .k-pager-numbers .k-state-selected, .k-pager-wrap>.k-link {
        border-radius: 28px;
        margin: 0 4px;
}

.k-pager-wrap .k-link {
        border-right: 1px!important;
        border-right: 1px solid #ccc!important;
}

.k-pager-wrap .k-link:hover {
        border-right: 1px!important;
        border-right: 1px solid #718a92!important;
}

.k-pager-wrap .k-link:hover, a.k-link.k-pager-nav:hover {
        color: #fff!important;
        border-color: #65adc4;
        background: #65adc4;
}

.k-pager-wrap .k-link:active, a.k-link.k-pager-nav:active {
        color: #fff!important;
        border-color: #718a92;
        background: #3a6d7d;
}
/*--------------------------pager end*/



/*---------------------grid styling starts*/


#esContainer .btn {
        border-radius: 0px;
}
#esContainer .padding-15t {
        padding-left: 0px;
        margin: 0 auto!important;
        text-align: center;
}
#esContainer .form .row {
        margin: 0px!important;
        padding: 15px 0 10px 0!important;
}
.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox>input {
        text-indent: .3em;
        height: 32px;
}
label.inline {
        float: left;
        margin-right: 20px;
        margin-top: 16px;
}
.date-margin {
        margin-top: 25px;
}
.col-lg-3>.smaller input {
        width:12%!important;
}
#esContainer input[type=checkbox], input[type=radio] {
        margin: 21px 0 0px 0px
}
.margin-t {
        margin-top: 5px;
}
.k-button .k-icon {
        color: #fff;
}

.k-grid .k-button {
        margin: 0 .16em;
        color: #fff;
        border: 0 none;
        border-radius: 0px;
}
a.k-button-bare:hover, a.k-button:hover, .k-button.k-state-active:hover, .k-button:active:hover {
        text-decoration: none;
        color: #fff;
        background-color: #3c879f!important;
        border-color: #204d74;    
}

.container-date {
        width: 100%;
        margin-top: 59px!important;
        position: absolute;
        margin-top: 35px!important;
        height: 63px;
}
.margin-date-r {
        padding-right: 2%!important;
        height: 38px;
}
.form .row .datePadding {
        margin: 15px 3px 15px -15px!important;
}
.noPadding-r {
        padding-right: 3px;
}
#esContainer .form-group {
        padding-top: 0px;
}


.k-grid tr:hover {
        background-color: #d8e7ec;
}
.k-grid tr td:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
        color: #fff;
        background-color: #65adc4;
        border-color: #718a92;
}
.chart.col-md-12.col-lg-12.col-xs-12.date-Padding.margin-date-r {
        width: 100%;
}

.padding-15t {
        padding-left: 0px;
        margin: 0 auto!important;
        text-align: center;
}
/*run button alignment*/


.k-multiselect-wrap , .k-multiselect-wrap.k-floatwrap{
    border-color: #C5C5C5;
    background-color: #FFF;
    height: 33px;
    padding-right: 22px;
    border-radius: 0px;}

.k-multiselect-wrap li {
    margin: 1px 0 1px 1px;
}

.esContainer .panel h4 {
    color: #3c99b6;
    text-align: left;
    line-height: 25px;
    font-weight: 600;
    padding-top: 10px;
}

.k-grid td {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.k-grid-content table, .k-grid-header table {
        table-layout: fixed;
        overflow-y: scroll;
        touch-action: pan-x!important;
        touch-action: pan-y;
}

.k-block, .k-button, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-color: #ffffff;
}


.k-grid-header:first-child, .k-grid-toolbar:first-child, .k-grid>.k-grouping-header, .k-scheduler>.k-scheduler-toolbar:first-child {
        border-radius: 3px 3px 0 0;
        text-align: right;
        position: relative;
}
a.k-button.k-button-icontext {
        float: right;
        position: relative;
        right: 78px;

}
a.k-button.k-button-icontext.k-grid-excel {
    margin-left: 0px;
    position: absolute;
    right: 0px;

}
.k-editor, .k-grid, .k-menu, .k-scheduler {
        border-radius: 0px;
}
.form-control {
        border-radius: 0px!important;
}/*forms squered*/


.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default,  .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
        border-color: #ccc;
        border-radius: 0px;
}/*forms squered*/

.k-autocomplete.k-state-default .k-input, .k-combobox .k-state-default .k-input, .k-numeric-wrap.k-state-default .k-input, .k-picker-wrap.k-state-default .k-input, .k-progress-status-wrap, .k-slider-selection, .k-slider-track {
    height: 30px;
}
.more-cont {
    width: 37px;
    height: 37px;
    background: #0996c3;
    border-radius: 50px!important;
    line-height: 37px;
    margin-top:25px;
    font-size: 30px;
    border-radius: 20px;
    color: #fff;
    display: block;
    padding: 0 1px 0 1px;
}

.more-cont:hover, .more-cont:focus, .more-cont:active, .more-cont:visited {
        background: #28768f;
        font-size: 30px;
        transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.more-cont .btn-info {
        margin-top: -44px!important;
        color: #fff!important;
        padding: 0px 58px 26px 0px;
        line-height: 37px;
        height: 40px;
        width: 66px;
        font-size: 30px!important;
        margin-left: -4px;
}
.more-cont .btn-info:hover, .more-cont .btn-info:focus, .more-cont .btn-info:active, .more-cont .btn-info:visited {
        margin-top: -44px!important;
        color: #fff!important;
        padding: 0px 58px 26px 0px;
        line-height: 37px;
        height: 40px;
        width: 66px;
        font-size: 30px!important;
        margin-left: -4px;
}
.more-cont.minus .btn-info {
        padding-left: 4PX;
}

.k-state-selected {
        margin-right: 0;
        color: #fff!important;
}


.k-button {
        color: #333;
        border-color: #b6d5df;
        background-color: #b6d5df;
}



.k-grid .k-button {
        margin: 0 .16em;
        background:#65adc4;
        color: #fff!important;
        float: right;
        margin-right: 1.1em;
}
.k-map-controls.k-pos-left .k-widget:first-child {
        margin-right: 0;
        background: #2681ac;
}
.k-grid-footer td, .k-group-footer td, .k-grouping-row td {
        color: #4193cb;
        font-weight: 600;
        font-size: 14px;
}

.margin-r{margin-right: -11px;}
/*-----------------------------grid styling ends*/



/*-------------------------------no-yes button*/

button.check {
        width: 80px;
        background: #ebebeb;
        display: block;
}
button.check.active.focus {
        width: 80px;
        background: #000;
        display: block;
}
.check.btn-default.active.focus, .check.btn-default.active:focus, .check.btn-default.active:hover, .check.btn-default:active.focus, .check.btn-default:active:focus, .check.btn-default:active:hover {
        width: 80px;
        background: #09b43d;
        display: block;
        color: #fff;
}

/*-------------------------------no-yes button end*/


/*-------------------------------pivot starts*/

.dx-treelist-column-chooser input,
.dx-treelist-column-chooser textarea {
  font-family: 'Lato', sans-serif;
}

.dx-pivotgrid .dx-pivotgrid-area td {
     color: #333; }

.dx-theme-generic-typography, .dx-widget {
  font-family: 'Lato', sans-serif;
}
.dx-theme-generic-typography input,
.dx-theme-generic-typography textarea,
.dx-menu-base {
  font-family: 'Lato', sans-serif;
}


.dx-pivotgrid .dx-pivotgrid-collapsed .dx-expand:before,
.dx-pivotgrid .dx-pivotgrid-expanded .dx-expand:before,
.dx-datagrid-filter-row .dx-menu-item-content .dx-icon{
    color: #428bca;
    font-size: 27px;
    margin-right: 53px;
    padding-right: 39px;
}
.dx-pivotgrid-fields-container .dx-sort {
    color: #ffffff;
}
.dx-datagrid-headers {
    color: #4193cb;
    font-weight: 700;}

.dx-pivotgrid-fields-container .dx-header-filter-empty {
    color: rgba(255, 255, 255, 0.5);
}


.dx-pivotgrid .dx-expand-icon-container {
    margin-left: -5px;
    margin-right: 16px;
}

.dx-loadpanel-content {
  border: 0px solid #ddd;
  background: transparent!important;
  color: #337ab7!important;
}

.dx-pivotgrid-fields-container .dx-area-field.dx-area-box {
    background-color:#65adc4;
    margin-bottom: 4px;
    padding: 7px 10px;
    color: #fff;
    border-radius: 5px;

}



i.dx-icon.dx-icon-columnchooser {
    text-align: center;

}


.dx-pivotgrid-toolbar .dx-icon {
    color: #fff!important;}

.dx-pivotgrid .dx-pivotgrid-fields-area-head .dx-empty-area-text{font-size: 16px;}


td.dx-area-row-cell{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


td.dx-area-row-cell:last-child{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
}

.k-grid tr td:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.k-grid tr td:hover {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
}


.dx-pivotgrid .dx-column-header .dx-pivotgrid-toolbar .dx-button-content, .dx-pivotgrid .dx-filter-header .dx-pivotgrid-toolbar .dx-button-content {
    padding: 5px;
    background-color: #fff;
    color: #fff!important;
}


.dx-pivotgrid-field-chooser-button.dx-button.dx-button-normal.dx-widget.dx-button-has-icon{margin-left: 20px;}

.k-calendar .k-alt, .k-calendar th, .k-dropzone-hovered, .k-footer-template td, .k-grid-footer, .k-group, .k-group-footer td, .k-grouping-header, .k-popup, .k-toolbar, .k-widget .k-status,
.dx-pivotgrid .dx-total, .dx-pivotgrid .dx-data-header, .dx-pivotgrid .dx-column-header, .dx-pivotgrid .dx-area-description-cell{
    font-weight: 600;
    color:#333!important;
}
.dx-pivotgrid .dx-pivotgrid-vertical-headers .dx-row-total, .dx-pivotgrid .dx-pivotgrid-area-data .dx-row-total{
    background-color: #ebebeb;
    color: #000;}

td.dx-pivotgrid-expanded{
        color: #428bca!important;
    font-weight: 700;}


.espivot-wrapper {
    overflow-x: auto;
    display: block;
    touch-action: pan-x;

    
}

/*pivot*/

/*----------------------------login form*/

.esLogin-form input{
    margin: 15px 0;
}

/*------------------------------login form ends*/

@media only screen and (max-width: 1024px) {
        .k-edge .k-pager-numbers+.k-link, .k-ff .k-pager-numbers+.k-link, .k-ie11 .k-pager-numbers+.k-link, .k-safari .k-pager-numbers+.k-link, .k-webkit .k-pager-numbers+.k-link, 
        .k-edge .k-pager-numbers .k-current-page .k-link, .k-ff .k-pager-numbers .k-current-page .k-link, .k-ie11 .k-pager-numbers .k-current-page .k-link, 
        .k-safari .k-pager-numbers .k-current-page .k-link, .k-webkit .k-pager-numbers .k-current-page .k-link, .k-edge .k-pager-numbers .k-current-page .k-link, 
        .k-ff .k-pager-numbers .k-current-page .k-link, .k-ie11 .k-pager-numbers .k-current-page .k-link, .k-safari .k-pager-numbers .k-current-page .k-link, 
        .k-webkit .k-pager-numbers .k-current-page .k-link {
                border-radius: 50px;
                width: 13px;
                border-radius: 28px;
                color: #333;
        }
        .k-edge .k-pager-nav.k-pager-first+.k-link, .k-ff .k-pager-nav.k-pager-first+.k-link, .k-ie11 .k-pager-nav.k-pager-first+.k-link, .k-safari .k-pager-nav.k-pager-first+.k-link, .k-webkit .k-pager-nav.k-pager-first+.k-link {
        border-right: 1px solid #ccc;
        border-radius: 40px;
        }
        .k-edge .k-pager-input, .k-edge .k-pager-wrap .k-pager-nav, .k-ff .k-pager-input, .k-ff .k-pager-wrap .k-pager-nav, .k-ie11 .k-pager-input, .k-ie11 .k-pager-wrap .k-pager-nav, 
        .k-safari .k-pager-input, .k-safari .k-pager-wrap .k-pager-nav, .k-webkit .k-pager-input, .k-webkit .k-pager-wrap .k-pager-nav {
                border-radius: 28px;
        }
        .k-edge .k-pager-numbers .k-current-page .k-link, .k-ff .k-pager-numbers .k-current-page .k-link, .k-ie11 .k-pager-numbers .k-current-page .k-link, 
        .k-safari .k-pager-numbers .k-current-page .k-link, .k-webkit .k-pager-numbers .k-current-page .k-link {
            width: 1em;
            padding: 0em 0.1em 0 0.5em;
            border-radius: 1.0833em;
        }

        span.location {
                margin-top: 13px!important;
                color: 333;
                font-weight: 300!important;
        }
        .k-edge .k-pager-numbers+.k-link, .k-ff .k-pager-numbers+.k-link, .k-ie11 .k-pager-numbers+.k-link, .k-safari .k-pager-numbers+.k-link, .k-webkit .k-pager-numbers+.k-link {
                margin-left: 3.6em;
        }
        .k-edge .k-pager-numbers .k-current-page .k-link:hover, .k-edge .k-scheduler-toolbar>ul.k-scheduler-views>li.k-current-view:hover, .k-ff .k-pager-numbers .k-current-page .k-link:hover, .k-ff .k-scheduler-toolbar>ul.k-scheduler-views>li.k-current-view:hover, .k-ie11 .k-pager-numbers .k-current-page .k-link:hover, .k-ie11 .k-scheduler-toolbar>ul.k-scheduler-views>li.k-current-view:hover, .k-safari .k-pager-numbers .k-current-page .k-link:hover, .k-safari .k-scheduler-toolbar>ul.k-scheduler-views>li.k-current-view:hover, .k-webkit .k-pager-numbers .k-current-page .k-link:hover, .k-webkit .k-scheduler-toolbar>ul.k-scheduler-views>li.k-current-view:hover {
                color: #ffffff;
                border-color: #718a92;
                background: #3a6d7d;
        }
        .k-pager-wrap {
                color: #333;
                /* margin-top: 20px; */
                
                background: #fff;
                border-top: 0 none;
                padding: 10px 0;
        }
        .k-icon:hover {
                color: #fff;
        }
        .k-pager-numbers .k-link, .k-pager-numbers .k-state-selected, .k-pager-wrap>.k-link {
                border-radius: 28px;
                margin: 0 4px;
        }
        .k-pager-wrap .k-link:hover {
                color: #ffffff;
                border-color: #718a92;
                background: #3a6d7d;
        }
        .k-webkit .k-pager-numbers .k-current-page .k-link {
                width: 20PX;
                /* height: 2em; */
                padding: 0 .427em 0 .710em;
                border-radius: 4px;
                border-right: 1px solid #ccc;
                color: #333;
                background-color: #fff;
                margin-left: 3px;
                border-radius: 50%;
        }
}
@media screen and (max-width: 839px) {


    .esContainer form.esLogin-form {
        box-shadow: 1px 1px 7px 0 rgba(145,145,145,.5);
        padding: 15px;
        margin-top: -24px;
        border: 1px solid #fff;
        background: #fafafa;
        border-radius: 15px;
        }

         #esContainer {
        width: 96%;}

        .content-holder {
                margin-top: 70px;
        }
        .mdl-cell {
                padding-bottom: 20px;
        }
        .panel-body {
                padding: 5px;
                padding-bottom: 20px;
        }
        .k-grid td {
                padding: 0.5em .6em;
        }
        .esContainer .panel h4 {
                margin: 0px;
                padding-top: 12px;
                min-height: 45px;
        }

        .name {
                line-height: 65px;
                margin-top: -20px;
        }
        .page-content {
                padding-left: 15px !important;
                width: 100%;
                padding: 10px!important;
                padding-top: 75px;
        }
        .esContainer .panel-title {
                margin-top: -21px;
                font-size: 16px;
                color: inherit;
                color: #5a85a9;
                line-height: 66px;
        }
        .buttons {
            width: 162px;
            margin: 0 auto!important;
            padding-top: 50px;
            position: relative!important;
            right: 0!important;
            top: -25px;}/*login checkbox positioning in small devices*/
}




@media screen and (max-width: 839px) {

        .more {
                margin-top: 17px;
                padding-top: 0px;
        }
        .margin-t {
                margin-top: 13px;
        }
        input[type=checkbox], input[type=radio] {
                margin: 14px 0 4px 0px;
        }
}



@media screen and (max-width: 1100px) {
        .container-img {
                width: 250px;
                height: 250px;
        }
        .form-group {
                padding-top: 0px;
        }
       
        .container-img img {
                height: 257px;
                min-width: 257px;
        }
}
@media screen and (max-width: 839px) {
        .login-overlay .form-container .inputs .btn-block, .login-overlay .form-container .inputs .btn-lg {
                width: 90%;
        }
        .container-date {
                width: 100%;
                top: 40px;
                position: absolute;
                margin-top: 60px!important;
                height: 100px;
        }
        .container-date {
                width: 100%;
                top: 3px;
        }
}
@media (max-width: 599px) {
        .layout-xs-column>.flex-xs-100 {
                padding-bottom: 15px;
                margin: 0px;
        }
        .col-sm-12, .col-sm-6 {
                padding-right: 0px!important;
                padding-left: 0px!important;
        }
        .esContainer .panel-title a>span {
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;             
                width: auto;
                display: block;
        }
        .container-date {
                width: 100%;
                top: 2px;
        }
}

@media (max-width: 320px) {
        .k-button .k-icon {
                color: #fff;
                padding-top: 8px;
        }
}
