
/* Common styles */
.md-button { text-transform: none; }
.btn { text-transform: none; }
.btn-transparent { background: 0 0; padding: 0 5px; box-shadow: none; }

.btn.es-param-control.check { height: 36px; margin: 0px; padding: 10px 20px; display: block; }

.btn.es-param-control.btn-open-modal { width: 100%; color: #495057; font-size: 14px; text-align: left; background-color: transparent !important; border: 1px solid #CCC; }
.btn.es-param-control.btn-open-modal:focus { color: #495057; background-color: #EEE;; border: 1px solid #CCC; box-shadow: none; }

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body { border-top: 1px solid #ddd; padding-top: 15px; }

.form-check .form-check-input { width: auto; height: auto; opacity: 1; margin: 0px; pointer-events: auto; z-index: 0; position: relative; }
.form-check .form-check-label { padding-left: 10px; }

.dropdown-menu-left { left: auto; right: 0px; }

.eschart-wrapper { font-size: 0.85rem; }

.es-section { position: relative; padding: 15px; border: 0; margin-bottom: 30px; border-radius: 6px; color: #333333; background: #fff; width: 100%; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); }
.es-section .actions { position: absolute; top: 10px; right: 15px; z-index: 4; }
.es-section .actions a { font-size: 1.3rem; color: #2196f3; background-color: transparent; }
.es-section .actions a:hover { color: #2196f3; background-color: rgba(153, 153, 153, 0.2); border-color: rgba(153, 153, 153, 0.2); }
.es-section .actions a:focus, .es-section .actions a.focus, .es-section .actions a:hover { color: #2196f3; background-color: rgba(153, 153, 153, 0.2); border-color: rgba(153, 153, 153, 0.2); }

/* Login page styles */
.es-module-login { position: relative; width: 90%; padding: 20px; background-color: #FFF; z-index: 9999; box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.14); margin-top: 100px; }
.es-module-login form { margin-bottom: 0px; }
.es-module-login .es-login-label { margin: 15px 0px; color: #75767a; text-align: center; font-size: 24px; font-weight: 600; }
.es-module-login .es-login-lang .k-input img { margin-right: 8px; }
.es-module-login .es-login-version { margin-top: 15px; text-align: right; color: #aaa; font-size: 14px; font-weight: 400; padding-right: 10px; }
.es-module-login .es-login-icon { text-align: center; }
.es-module-login .es-login-rememberme { margin-bottom: 15px; }
.es-module-login .es-login-signup, .es-module-login .es-login-terms { font-size: 0.875rem; line-height: 1.1rem; padding-bottom: 0px; }

/* Profile page styling */
.profile-content .card { margin-top: 0px; }
.profile-content h2, .profile-content h3, .profile-content h4 { color: #6aa0ce; }
.profile-content h3 { font-size: 1.2rem; }
.profile-content .form { margin-top: 35px; margin-bottom: 40px; }
.profile-content .branch-header { margin-bottom: 10px; }
.profile-content .buttons button { margin: 5px 5px; }
.profile-content .buttons button .mdi { color: #FFFFFF; }

/* Modal styling */
.modal-dialog { margin-top: 90px; }

/* Params module stying */
.es-module-params { margin-bottom: 15px; }
.es-module-params h4 { font-size: 1.25rem; margin-bottom: 10px; padding-right: 80px; }
.es-module-params .btn-info { position: relative; text-overflow: ellipsis; overflow: hidden; padding-right: 15px; }
.es-module-params .btn-info .mdi { position: absolute; right: 10px; }
.es-module-params .es-param-more { align-self: center; }
.es-module-params .es-param-more .btn { font-size: 16px; line-height: 16px; padding: 5px; border: 1px solid #999; color: #333; background-color: #FFF; }
.es-module-params .es-param-control-check { display: block; }
.es-module-params .es-param .input-group .input-group-append .input-group-text a { cursor: pointer; }

/* Grid styling */
.es-module-grid { }
.es-module-grid .k-header { text-align: right; }
.es-module-grid .k-header a { }

.angular-google-map-container { width: 100%; height: 600px; }

.nav-tabs { margin-bottom: 10px; margin: 15px; }

.pagination > .page-item.active > a, .pagination > .page-item.active > span { color: #999999; }


.xesdashboard { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; max-width: 1200px; margin: auto; }

@media (max-width: 600px) {
	.xesdashboard { justify-content: space-around; }
}

.xesdashboarditem { background-color: gray; width: 500px; height: 500px; }



/**************************
	Kendo styles override
**************************/

/* Grid */
.k-grid { border: none; }
.k-grid > .k-header { padding: 0px 0px 8px 0px; text-align: left; background-color: transparent; }
.k-grid > .k-grid-header { background-color: #EEE; }
.k-grid > .k-grid-header table > thead > tr > th { font-size: 0.875rem; padding-top: 15px; padding-bottom: 15px; color: #444; overflow: auto; white-space: unset; text-overflow: unset; }
.k-grid > .k-grid-content table > tbody > tr > td { font-size: 0.875rem; }
.k-grid .k-pager-wrap .k-dropdown { width: 100px; }
.k-grid table > tbody > tr:nth-of-type(2n) { background-color: #f9f9f9; }
.k-grid table > tbody > tr > td { border-left: none; }
.k-grid table > thead > tr > th, .k-grid table > tbody > tr > th, .k-grid table > tfoot > tr > th, .k-grid table > thead > tr > td, .k-grid table > tbody > tr > td, .k-grid table > tfoot > tr > td { padding: 12px 8px; }
.k-pdf-export .k-grid-toolbar, .k-pdf-export .k-pager-wrap { display: none; }

/* Calendar */
.k-calendar { }
.k-calendar .k-content.k-month .k-link { width: 30px; height: 30px; line-height: 30px; text-align: center; font-size: 0.875rem; padding: 0px; }
