<div class="row">
	<div class="col-12">
		<es-params-panel ng-cloak es-panel-open="esPqDef.esPanelOpen" ng-if="!esLocalData" es-group-id="::esPqDef" es-local-data-source="'true'" es-force-title="::esPqDef.Title" es-show-run="'true'" es-run-click="::executePQ()">
		</es-params-panel>
	</div>
	<div class="col-12">
		<div class="es-module es-module-card">
			<kendo-pager ng-if="cardDataSource" auto-bind="false" page-size="::esPqDef.PQOptions.PageSize" page-sizes="[20, 50, 100]" refresh="true" data-source="cardDataSource">
			</kendo-pager>

			<div class="row">
				<div class="col-sm-6 col-md-4 col-xl-3" ng-repeat="row in cardDataSource.data()">
					<div class="card card-tag-{{::(UIOptions.tagField ? row[UIOptions.tagField] : 'none')}}" ng-class="{'card-noimage': !(UIOptions.imageField && getImageUrl(row))}">
						<div ng-if="::UIOptions.headerField" class="card-header">{{::row[UIOptions.headerField]}}</div>
						<img class="card-img-top" ng-if="::(UIOptions.imageField && getImageUrl(row))" ng-src="{{::getImageUrl(row)}}" />
						<div class="card-body">
							<h5 class="card-title" ng-if="::UIOptions.titleField">{{::row[UIOptions.titleField]}}</h5>
							<ul ng-if="bodyFields().length" class="list-group list-group-flush">
								<li class="list-group-item" ng-repeat="col in ::bodyFields()">
									<label>{{::col.title}}</label>
									<p ng-bind-html="::getFieldText(row, col.field)"></p>
								</li>
							</ul>
						</div>
						<div ng-if="::(UIOptions.footerField || hasMap(row))" class="card-footer">
							<small class="text-muted">{{::row[UIOptions.footerField]}}</small>
							<div class="actions">
								<a class="btn btn-transparent" ng-if="::hasMap(row)" ng-click="showMap(row)"><i class="mdi mdi-map-marker"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>