<!--  -->
<div class="modal-header">
	<h5 class="modal-title" id="modal-title">{{'ESUI.CHGPWD.TITLE' | translate}}</h5>
</div>
<div class="modal-body" id="modal-body">
	<form novalidate class="form" name="askform">
		<div class="form-row">
			<div class="form-group col-12" ng-class="{'has-error': askform.OldPassword.$invalid}">
				<label class="control-label es-param-label"
							 tooltip-placement="bottom">
					{{'ESUI.CHGPWD.OLDPASSWORD' | translate}}
				</label>

				<input class="form-control"
							 name="OldPassword"
							 placeholder="{{'ESUI.CHGPWD.OLDPASSWORD' | translate}}"
							 type="password" name="password" autocomplete="off"
							 required
							 autofocus
							 ng-model="$ctrl.inDef.OldPassword" />
			</div>

			<div class="form-group col-12" ng-class="{'has-error': askform.NewPassword.$invalid}">
				<label class="control-label es-param-label"
							 tooltip-placement="bottom">
					{{'ESUI.CHGPWD.NEWPASSWORD' | translate}}
				</label>

				<input class="form-control"
							 name="NewPassword"
							 placeholder="{{'ESUI.CHGPWD.NEWPASSWORD' | translate}}"
							 type="password" name="password" autocomplete="off"
							 required
							 ng-model="$ctrl.inDef.NewPassword" />
			</div>

			<div class="form-group col-12" ng-class="{'has-error': askform.NewPassword2.$invalid}">
				<label class="control-label es-param-label"
							 tooltip-placement="bottom">
					{{'ESUI.CHGPWD.NEWPASSWORD2' | translate}}
				</label>

				<input class="form-control"
							 name="NewPassword2"
							 placeholder="{{'ESUI.CHGPWD.NEWPASSWORD2' | translate}}"
							 type="password" name="password" autocomplete="off"
							 required
							 ng-model="$ctrl.inDef.NewPassword2" />
			</div>

		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="submit" ng-disabled="askform.$invalid" ng-click="$ctrl.ok()">{{'ESUI.GENERIC.OK' | translate}}</button>
	<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{'ESUI.GENERIC.CANCEL' | translate}}</button>
</div>