<div class="row">
    <es-params-panel class="col-xs-12"
    	ng-cloak 
    	es-panel-open="esPanelOpen"
    	ng-if="!esLocalData"
    	es-group-id="esPqDef" 
    	es-local-data-source="'true'" 
    	es-show-run="'true'" 
    	es-run-click="::executePQ()" 
    	es-data-source="esChartDataSource" >
    </es-params-panel>


    <div class="col-xs-12">
		<kendo-tab-strip>
			<!-- tab list -->
			<ul>
				<li class="k-state-active"><span class="glyphicon glyphicon-picture"></span><span class="hidden-xs"></span></li>
				<li><span class="glyphicon glyphicon-align-justify"></span><span class="hidden-xs"></span></li>
			</ul>
			<div class="eschart-wrapper">
				<div 
					 kendo-chart="esChartCtrl"
					 k-ng-delay="esChartOptions.dataSource"
				     k-options="esChartOptions">
				</div>
			</div>

			<div>
				<es-local-grid  
			        es-grid-options="esPqDef.esGridOptions" 
			        es-data-source="esChartDataSource">
			    </es-local-grid>
			</div>
		</kendo-tab-strip>
	</div>
</div>
