<div ng-controller="esComboPQCtrl">
	<div id="globalCtx" class="es-section global" ng-if="esPqDef.GlobalParamsPanel">
		<div class="actions">
			<a class="btn btn-transparent" ng-click="::globalExecutePQ()" title="{{'ESUI.FAV.RELOAD' | translate}}"><i class="mdi mdi-reload"></i></a>
		</div>
		<es-params-panel ng-cloak
			 es-panel-open="esPqDef.GlobalParamsPanel.esPanelOpen"
			 es-params-def="esPqDef.GlobalParamsPanel.Parameters"
			 es-params-values="esPqDef.GlobalParamsPanel.Parameters.paramsValues"
			 es-force-title="globalTitle"
			 es-show-run="'true'"
			 es-run-click="::globalExecutePQ()">
		</es-params-panel>
	</div>
	<div ng-repeat="section in esPqDef" class="row">
		<div ng-repeat="dbItem in section" ng-class="{'col-md-6' : section.length == 2, 'col-lg-3': section.length == 4, 'col-lg-4': section.length == 3, 'col-12': section.length == 1 || section.length > 4}">
			<div id="anchor{{dbItem.CtxID}}" class="es-section">
				<div class="actions">
					<a ng-if="::(!isFavouritesMode && !esSimpleMode)" class="btn btn-transparent" ng-click="addRemoveFav(dbItem, true)" title="{{'ESUI.FAV.ADD' | translate}}"><i class="mdi mdi-heart"></i></a>
					<a ng-if="::(!isFavouritesMode && !esSimpleMode)" class="btn btn-transparent" ng-click="email(dbItem)" title="{{'ESUI.FAV.LINK' | translate}}"><i class="mdi mdi-link-variant"></i></a>
					<a ng-if="::(isFavouritesMode && !esSimpleMode)" class="btn btn-transparent" ng-click="addRemoveFav(dbItem, false)" title="{{'ESUI.FAV.DEL' | translate}}"><i class="mdi mdi-heart-off"></i></a>
					<a ng-if="::(isFavouritesMode && !esSimpleMode)" class="btn btn-transparent" ng-class="{'disabled': !canMoveUpOrDown(dbItem, true)}" ng-click="moveUpOrDown(dbItem, true)" title="{{'ESUI.FAV.UP' | translate}}"><i class="mdi mdi-arrow-up-bold-circle"></i></a>
					<a ng-if="::(isFavouritesMode && !esSimpleMode)" class="btn btn-transparent" ng-class="{'disabled': !canMoveUpOrDown(dbItem, false)}" ng-click="moveUpOrDown(dbItem, false)" title="{{'ESUI.FAV.DOWN' | translate}}"><i class="mdi mdi-arrow-down-bold-circle"></i></a>
					<a ng-if="::(isFavouritesMode && !esSimpleMode)" class="btn btn-transparent" ng-click="email(dbItem)" title="{{'ESUI.FAV.LINK' | translate}}"><i class="mdi mdi-link-variant"></i></a>
					<a ng-if="::dbItem.runPQ" class="btn btn-transparent" ng-click="dbItem.runPQ()" title="{{'ESUI.FAV.RELOAD' | translate}}"><i class="mdi mdi-reload"></i></a>
				</div>
				<es-web-pq ng-if="dbItem.ESUIType.toLowerCase() == 'esgrid'" es-group-id="dbItem.GroupID" es-p-q-options="dbItem.PQOptions" es-panel-open="dbItem.esPanelOpen" es-params-values="dbItem.Params" es-force-title="dbItem.Title" es-filter-id="dbItem.FilterID" es-grid-options="dbItem.UIOptions" es-pq-def="dbItem">
				</es-web-pq>
				<es-chart ng-if="dbItem.ESUIType.toLowerCase() == 'eschart'" es-pq-def="dbItem" es-panel-open="dbItem.esPanelOpen" es-chart-options="dbItem.UIOptions">
				</es-chart>
				<es-stock-chart ng-if="dbItem.ESUIType.toLowerCase() == 'esstockchart'" es-pq-def="dbItem" es-panel-open="dbItem.esPanelOpen" es-chart-options="dbItem.UIOptions">
				</es-stock-chart>
				<es-tree-map ng-if="dbItem.ESUIType.toLowerCase() == 'estreemap'" es-pq-def="dbItem" es-panel-open="dbItem.esPanelOpen" es-chart-options="dbItem.UIOptions">
				</es-tree-map>
				<es-pivot-pq ng-if="dbItem.ESUIType.toLowerCase() == 'espivot'" es-pq-def="dbItem" es-panel-open="dbItem.esPanelOpen">
				</es-pivot-pq>
				<es-map-pq ng-if="dbItem.ESUIType.toLowerCase() == 'esmap'" es-options="dbItem.UIOptions" es-pq-def="dbItem" es-panel-open="dbItem.esPanelOpen">
				</es-map-pq>
				<es-card-pq ng-if="dbItem.ESUIType.toLowerCase() == 'escard'" es-pq-def="dbItem">
				</es-card-pq>
				<es-san-key-pq ng-if="dbItem.ESUIType.toLowerCase() == 'essankey'" es-pq-def="dbItem">
				</es-san-key-pq>
				<es-gauge-pq ng-if="dbItem.ESUIType.toLowerCase() == 'esgauge'" es-pq-def="dbItem">
				</es-gauge-pq>
				<es-gantt-pq ng-if="dbItem.ESUIType.toLowerCase() == 'esgantt'" es-pq-def="dbItem">
				</es-gantt-pq>
				<es-timeline-pq ng-if="dbItem.ESUIType.toLowerCase() == 'estimeline'" es-pq-def="dbItem">
				</es-timeline-pq>
				<es-calendar-pq ng-if="dbItem.ESUIType.toLowerCase() == 'escalendar'" es-pq-def="dbItem">
				</es-calendar-pq>
				<es-metric-pq ng-if="dbItem.ESUIType.toLowerCase() == 'esmetric'" es-pq-def="dbItem">
				</es-metric-pq>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<button class="btn btn-danger pull-right" type="button" ng-if="isFavouritesMode && Favourites.shortcuts.length > 1" ng-click="clearAll()">
			{{'ESUI.FAV.CLEAR_ALL' | translate}}
		</button>
	</div>
	<div ng-if="!esPqDef.length" class="alert alert-warning">
		<strong>{{'ESUI.FAV.NODATA' | translate}}</strong>
	</div>
</div>