<div class="row">
	<div class="col-12">
		<es-params-panel ng-cloak
										 es-panel-open="esPqDef.esPanelOpen"
										 ng-if="!esLocalData"
										 es-group-id="esPqDef"
										 es-local-data-source="'true'"
										 es-force-title="esPqDef.Title"
										 es-show-run="'true'"
										 es-run-click="::executePQ()"
										 es-data-source="esMapDataSource">
		</es-params-panel>
	</div>

	<div ng-class="::{ 'col-3': esPqDef.UIOptions.gaugesPerRow == 4, 'col-4': esPqDef.UIOptions.gaugesPerRow == 3, 'col-6': esPqDef.UIOptions.gaugesPerRow == 2, 'col-1': esPqDef.UIOptions.gaugesPerRow == 12, 'col-12': esPqDef.UIOptions.gaugesPerRow == 1}" ng-repeat="esRow in esRows">
		<kendo-radialgauge k-ng-delay="esRow.esScaleOptions" k-pointer="esRow.esPointer" k-rebind="esRow.esScaleOptions" ng-if="esPqDef.UIOptions.GType == 'radial'"
											 k-scale="esRow.esScaleOptions">
		</kendo-radialgauge>
		<kendo-lineargauge k-ng-delay="esRow.esScaleOptions" k-pointer="esRow.esPointer" k-rebind="esRow.esScaleOptions" ng-if="esPqDef.UIOptions.GType == 'linear'"
											 k-scale="esRow.esScaleOptions">
		</kendo-lineargauge>

		<kendo-arcgauge k-ng-delay="esRow.esScaleOptions" k-pointer="esRow.esPointer" k-rebind="esRow.esScaleOptions" ng-if="esPqDef.UIOptions.GType == 'arc'"
											 k-scale="esRow.esScaleOptions">
		</kendo-arcgauge>
	</div>
</div>


