<!--  -->
<div class="modal-header">
	<h4 class="modal-title" id="modal-title">{{'ESUI.PQ.INVESTIGATE' | translate}} - {{::invParams.paramDef.caption}}</h4>
</div>
<div class="modal-body" id="modal-body">
	<es-grid es-group-id="::invParams.esGroup"
					 es-filter-id="::invParams.esFilter"
					 es-post-grid-options="investigateGridOptions"
					 es-execute-params="invParams.pVals">
	</es-grid>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">{{'ESUI.GENERIC.OK' | translate}}</button>
	<button class="btn btn-default" type="button" ng-click="cancel()">{{'ESUI.GENERIC.CANCEL' | translate}}</button>
</div>

