<div class="col-xs-12 col-md-4 col-md-offset-4">
    <form name="esLoginFrm" class="esLogin-form" novalidate>
        <div ng-if="esShowSubscription">
            <h2 class="esLogin-form">{{'ESUI.LOGIN_FORM.SUBSCRIPTION' | translate}}</h2>
            <div ng-class="{'has-error': esLoginFrm.subscriptionId.$invalid}">
                <label for="subscriptionId" class="sr-only">User ID</label>
                <input type="text" name="subscriptionId" class="form-control" placeholder="Subscription ID" ng-model="esCredentials.subscriptionId" autofocus>
            </div>
            <div ng-class="{'has-error': esLoginFrm.subscriptionPwd.$invalid}">
                <label for="subscriptionPwd" class="sr-only">User ID</label>
                <input type="password" name="subscriptionPwd" class="form-control" placeholder="Subscription Password" ng-model="esCredentials.subscriptionPassword" required>
            </div>
            <hr/>
        </div>
        <h2 class="esLogin-form">{{'ESUI.LOGIN_FORM.SIGNIN' | translate}}</h2>
        <div ng-class="{'has-error': esLoginFrm.userId.$invalid}">
            <label for="userId" class="sr-only">User ID</label>
            <input type="text" name="userId" class="form-control" placeholder="User ID" ng-model="esCredentials.UserID" required autofocus>
        </div>
        <div ng-class="{'has-error': esLoginFrm.password.$invalid}">
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="esCredentials.Password" required>
        </div>
        <div ng-if="esShowBridge" ng-class="{'has-error': esLoginFrm.bridgeId.$invalid}">
            <label for="bridgeId" class="sr-only">Company ID</label>
            <input type="text" name="bridgeId" class="form-control" placeholder="Company ID" ng-model="esCredentials.bridgeId">
        </div>
        <div ng-class="{'has-error': esLoginFrm.branch.$invalid}">
            <label for="branch" class="sr-only">Branch ID</label>
            <input type="text" name="branch" class="form-control" placeholder="Branch ID" ng-model="esCredentials.BranchID" required>
        </div>
        <div ng-if="esShowStickySession" class="form-group">
            <input type="checkbox" ng-model="esCredentials.StickySession" class="form-control" placeholder="StickyMode">
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-disabled="esLoginFrm.$invalid" ng-click="esOnSuccess()">Login</button>
    </form>
</div>
