<div class="row">
	<div class="col-12">
		<es-params-panel ng-cloak es-panel-open="esPqDef.esPanelOpen" ng-if="!esLocalData" es-group-id="::esPqDef" es-local-data-source="'true'" es-force-title="::esPqDef.Title" es-show-run="'true'" es-run-click="::executePQ()">
		</es-params-panel>
	</div>
	<div class="col-12">
		<div class="es-module es-module-metric">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-xl-3" ng-repeat="row in metricDataSource.data()">
					<div class="card card-tag-{{::getTagField(row)}}">
						<div class="card-body">
							<div class="icon" ng-if="::(UIOptions.iconField && row[UIOptions.iconField])">
								<i ng-class="::row[UIOptions.iconField]"></i>
							</div>
							<div class="value">
								<h5 ng-if="::UIOptions.valueField">{{::getValue(row)}}</h5>
								<p ng-if="::UIOptions.titleField" ng-bind-html="::row[UIOptions.titleField]"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>