<div  kendo-map="esMap" es-kendomap-init k-center="$ctrl.point" k-zoom="15" k-layers="[{
                type: 'tile',
                urlTemplate: 'https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png',
                subdomains: ['a', 'b', 'c']
            }]" k-markers="[{
                location: $ctrl.point,
                shape: 'pinTarget',
                tooltip: {
                    content: $ctrl.title
                }
            }]" style="height: 300px;">
</div>