<uib-accordion>
    <uib-accordion-group is-open="esPanelOpen">
        <uib-accordion-heading>
            {{::esParamsDef.title}} - Parameters <span class="badge">{{::esParamsDef.visibleDefinitions().length}}</span> 
           	<i class="pull-right glyphicon" uib-popover-placement="left" uib-popover-append-to-body="true" uib-popover-template="'src/partials/esParamsPanelPopover.html'" popover-title="{{::esParamsDef.title}}" popover-trigger="mouseenter" ng-class="{'glyphicon-zoom-out': esPanelOpen, 'glyphicon-zoom-in': !esPanelOpen}"></i>
        </uib-accordion-heading>

        <form novalidate class="form" name="esParamsPanelForm">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-class="{'has-error': esParamsPanelForm.{{::param.id}}.$invalid}" ng-repeat="param in esParamsDef.visibleDefinitions() | orderBy:'aa'">
                    <es-param class="es-param" es-type="param | esParamTypeMapper" es-param-val="esParamsValues" es-param-def="param"></es-param>
                </div>
            </div>
        </form>
    </uib-accordion-group>
</uib-accordion>

