<div class="es-module es-module-params">
	<uib-accordion close-others="false">
		<div uib-accordion-group is-open="esPanelOpen.status">
			<uib-accordion-heading>
				<i class="mdi " ng-class="{'mdi-menu-down': esPanelOpen.status, 'mdi-menu-right': !esPanelOpen.status}"></i>&nbsp;{{::(esForceTitle ? esForceTitle : esParamsDef.title)}}&nbsp;{{esParamsDef.strVal(esParamsValues, false)}}
			</uib-accordion-heading>
			<form novalidate class="form" name="esParamsPanelForm">
				<div class="row">
					<div class="form-group col-12 col-md-6 col-lg-3" ng-class="{'has-error is-invalid': esParamsPanelForm.{{::param.id}}.$invalid}" ng-repeat="param in ::esParamsDef.simpleDefinitions() | orderBy:'aa'">
						<es-param class="es-param" es-type="::param | esParamTypeMapper" es-param-val="esParamsValues" es-param-def="param"></es-param>
					</div>

					<div ng-if="esParamsDef.hasAdvancedParams() && !esMore" class="col-12 col-md-6 col-lg-3 es-param-more">
						<button type="button" class="btn btn-default" tabindex="0" ng-click="esToggleMore()"><i class="mdi mdi-plus"></i></button>
					</div>

					<div ng-if="esMore" class="form-group col-12 col-md-6 col-lg-3" ng-class="{'has-error is-invalid': esParamsPanelForm.{{::param.id}}.$invalid}" ng-repeat="param in ::esParamsDef.advancedDefinitions() | orderBy:'aa'">
						<es-param class="es-param" es-type="::param | esParamTypeMapper" es-param-val="esParamsValues" es-param-def="param"></es-param>
					</div>

					<div ng-if="esMore" class="col-12 col-md-6 col-lg-3 es-param-more">
						<button type="button" class="btn btn-default" tabindex="0" ng-click="esToggleMore()"><i class="mdi mdi-minus"></i></button>
					</div>
				</div>
			</form>
			<button type="button" ng-if="esShowRun" ng-disabled="esParamsPanelForm.$invalid" class="btn btn-primary" ng-click="esRunClick()">{{::esRunTitle}}</button>
		</div>
	</uib-accordion>
</div>