<label>{{esParamDef.caption}}</label>
   <select 
            xstyle="width: 100%"
            class="form-control"
            kendo-drop-down-list
            ng-cloak
            k-ng-delay="esParamDef"
            k-data-text-field="'text'" 
            k-data-value-field="'value'" 
            k-auto-bind="true"
            k-option-label="{ text: 'All', value: null}" 
            k-data-source="esParamDef.enumList"
            k-value-primitive="true"
            k-ng-model="esParamVal[esParamDef.id].paramValue">
    </select> 


