<label class="control-label es-param-label" uib-tooltip="{{::esParamDef.toolTip}}"
			 tooltip-placement="bottom">
	{{::esParamDef.caption}}
</label>

<div class="input-group">
	<input class="form-control es-param-control"
				 kendo-masked-text-box
				 name="{{::esParamDef.id}}"
				 ng-required="::esParamDef.required"
				 k-mask="::esParamDef.formatString"
				 ng-model-options="{getterSetter: true}"
				 ng-model="esParamVal[esParamDef.id].pValue" />
	<div class="input-group-append">
		<button class="btn btn-outline-secondary" type="button" ng-click="onInvestigate()"><i class="mdi mdi-magnify"></i></button>
	</div>
</div>