<label class="control-label es-param-label" uib-tooltip="{{::esParamDef.toolTip}}"
          tooltip-placement="bottom"
          tooltip-trigger="mouseenter">{{::esParamDef.caption}}</label>
   <select 
            class="form-control es-param-control"
            kendo-drop-down-list
            name="{{::esParamDef.id}}"
            ng-required="::esParamDef.required"
            ng-cloak
            k-ng-delay="esParamDef"
            k-data-text-field="'text'" 
            k-data-value-field="'value'" 
            k-auto-bind="true"
            k-data-source="::esParamDef.enumList"
            k-value-primitive="true"
            k-ng-delay="esParamVal[esParamDef.id].paramValue"
            k-ng-model="esParamVal[esParamDef.id].paramValue">
    </select> 


