<label class="control-label es-param-label" uib-tooltip="{{::esParamDef.toolTip}}"
      tooltip-placement="bottom"
      tooltip-trigger="mouseenter">{{::esParamDef.caption}}
</label>

<div uib-accordion-group class="panel-default date-title" heading="{{esParamVal[esParamDef.id].strVal(true)}}">
      <select 
        class="form-control col-xs-6 es-param-control" 
        kendo-drop-down-list 
        k-data-text-field="'title'" k-auto-bind="true" k-data-value-field="'dValue'" k-data-source="::esGlobals.getesDateRangeOptions({dateRangeClass: esParamDef.controlType})" k-value-primitive="true" k-ng-model="esParamVal[esParamDef.id].paramValue.dRange">
        </select>


        <div ng-class="{'col-xs-6': esParamVal[esParamDef.id].paramValue.dRange == '0', 'col-xs-12': esParamVal[esParamDef.id].paramValue.dRange == '1'}" ng-hide="esParamVal[esParamDef.id].paramValue.dRange > '1'">
            <input class="form-control es-param-control margin-t" kendo-date-picker k-ng-model="esParamVal[esParamDef.id].paramValue.fromD"/>
        </div>

       <div class="col-xs-6" ng-hide="esParamVal[esParamDef.id].paramValue.dRange != '0'">
            <input class="form-control es-param-control  margin-t" kendo-date-picker k-ng-model="esParamVal[esParamDef.id].paramValue.toD"/>
       </div>

</div>
    