
  <div class="row">
    <div class="col-md-12 col-lg-6 col-sm-12 nomargin-r">
        <label class="control-label es-param-label" uib-tooltip="{{::esParamDef.toolTip}}"
      tooltip-placement="top"
      tooltip-trigger="mouseenter">{{::esParamDef.caption}}</label>
        <select 
        class="form-control es-param-control" 
        kendo-drop-down-list 
        uib-tooltip="Hello World"
        uib-tooltip-trigger="mouseenter"
        k-data-text-field="'title'" k-auto-bind="true" k-data-value-field="'dValue'" k-data-source="::esGlobals.getesDateRangeOptions({dateRangeClass: esParamDef.controlType})" k-value-primitive="true" k-ng-model="esParamVal[esParamDef.id].paramValue.dRange">
        </select>
    </div>


    <span class="col-md-6 col-sm-6 col-lg-4" ng-hide="esParamVal[esParamDef.id].paramValue.dRange > '1'">
        <input class="form-control es-param-control margin-t" kendo-date-picker k-ng-model="esParamVal[esParamDef.id].paramValue.fromD"/>
    </span>

   <span class="col-md-6 col-sm-6 col-lg-4" ng-hide="esParamVal[esParamDef.id].paramValue.dRange != '0'">
        <input class="form-control es-param-control  margin-t" kendo-date-picker k-ng-model="esParamVal[esParamDef.id].paramValue.toD"/>
    </span>
    </div>
