<label class="control-label es-param-label" uib-tooltip="{{::esParamDef.toolTip}}"
			 tooltip-placement="bottom">{{::esParamDef.caption}}</label>

<input class="es-param-control es-param-control-check"
			 type="checkbox"
			 ng-model-options="{getterSetter: true}"
			 ng-model="esParamVal[esParamDef.id].pValue"
			 ng-false-value="0" />

<!--div class="es-login-rememberme form-check">
	<label class="form-check-label es-param-label" uib-tooltip="{{::esParamDef.toolTip}}"
				 tooltip-placement="bottom">{{::esParamDef.caption}}</label>
</div>

<button type="button" class="btn btn-default es-param-control check" ng-model-options="{getterSetter: true}" ng-model="esParamVal[esParamDef.id].pValue" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
	{{esParamVal[esParamDef.id].strVal()}}
</button-->