<label class="control-label" uib-tooltip="{{::esParamDef.toolTip}}"
          tooltip-placement="top"
          tooltip-trigger="mouseenter">
    {{::esParamDef.caption}}
</label>
<select 
    class="form-control es-param-control"
    name="{{::esParamDef.id}}"
    ng-required="::esParamDef.required"
    kendo-multi-select 
    k-placeholder="::esParamDef.id"
    k-data-text-field="'text'" 
    k-data-value-field="'value'" 
    k-auto-bind="false" 
    k-value-primitive="true"
    k-data-source="esParamDef.enumList" 
    ng-model-options="{getterSetter: true}"
    ng-model="esParamVal[esParamDef.id].pValue">
</select>
