<div class="row">
    <div class="col-xs-12">
        <es-params-panel ng-cloak es-panel-open="esPqDef.esPanelOpen" es-group-id="esPqDef" es-force-title="esPqDef.Title" es-show-run="'true'" es-run-click="::executePQ()" es-data-source="esPivotDataSource">
        </es-params-panel>
    </div>
    
    <div class="col-xs-12">
        <div class="espivot-wrapper">

            <div ng-if="esPqDef.UIOptions.enableChart" ng-hide="!esPqDef.UIOptions.enableChart || esPqDef.UIOptions.hideChart">
                <div id="esPivotChart" dx-chart="chartOptions"></div>
            </div>

            <div id="esPivotGrid" dx-pivot-grid="pivotOptions"></div>

            <div dx-popup="popupOptions">
                <div data-options="dxTemplate: { name: 'content' }">
                    <div dx-data-grid="dataGridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</div>