<div class="row">
	<div class="col-12">
		<es-params-panel ng-cloak
										 es-panel-open="esPqDef.esPanelOpen"
										 ng-if="!esLocalData"
										 es-group-id="esPqDef"
										 es-local-data-source="'true'"
										 es-force-title="esPqDef.Title"
										 es-show-run="'true'"
										 es-run-click="::executePQ()"
										 es-data-source="esChartDataSource">
		</es-params-panel>
	</div>

	<div class="col-12">
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>{{'ESUI.SINGLE_ROW.FIELD' | translate}}</th>
					<th>{{'ESUI.SINGLE_ROW.VALUE' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="col in esPqDef.esGridOptions.columns">
					<td>{{col.title}}</td>
					<td>{{singleRow[col.field]}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>