<div class="row">
    <div class="col-xs-12">
        <es-params-panel 
            ng-cloak 
            es-panel-open="esPqDef.esPanelOpen"
            ng-if="!esLocalData"
            es-group-id="esPqDef" 
            es-local-data-source="'true'" 
            es-force-title="esPqDef.Title"
            es-show-run="'true'" 
            es-run-click="::executePQ()" 
            es-data-source="esChartDataSource" >
        </es-params-panel>
    </div>

    <div class="col-xs-12">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{'MENU.FIELD' | translate}}</th>
                    <th>{{'MENU.VALUE' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="col in esPqDef.esGridOptions.columns">
                    <td>{{col.title}}</td>
                    <td>{{singleRow[col.field]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>