<div class="row" ng-if="::esParamsDef.visibleDefinitions().length">
    <es-params-panel ng-cloak es-params-values="esParamsValues" es-group-id="esGroupId" es-filter-id="esFilterId" es-params-def="esParamsDef">
    </es-params-panel>
</div>
<div ng-if="esShowTopPagination" class="row">
	<kendo-pager auto-bind="false" page-size="20" page-sizes="[20, 50, 100, 'All']" refresh="true" data-source="esGridOptions.dataSource"/>
</div>
<div class="row" ng-cloak>
    <es-grid es-group-id="esGroupId" es-filter-id="esFilterId" es-grid-options="esGridOptions" es-srv-paging="esSrvPaging" es-execute-params="esParamsValues" />
</div>