<es-params-panel class="row" ng-if="::esParamsDef.visibleDefinitions().length" ng-cloak es-params-values="esParamsValues" es-group-id="esGroupId" es-filter-id="esFilterId" es-params-def="esParamsDef">
</es-params-panel>

<kendo-pager ng-if="esShowTopPagination" class="row"
	auto-bind="false" 
	page-size="20" 
	page-sizes="[20, 50, 100, 'All']" 
	refresh="true" 
	data-source="esGridOptions.dataSource">
</kendo-pager>

<es-grid class="row" 
	ng-cloak 
	es-group-id="esGroupId" 
	es-filter-id="esFilterId" 
	es-grid-options="esGridOptions" 
	es-srv-paging="esSrvPaging" 
	es-execute-params="esParamsValues">
</es-grid>
