<div class="login-overlay">
	<div class="logo">
		Material <br> <span class="smaller">Dashboard</span>
	</div>
	<div class="form-container shadow">
		<div class="icon">
			<a href="index.html"><i class="mdi mdi-alert"></i></a>
			<div class="header">
				Whoops!
			</div>
		</div>
		<div class="inputs">

			<h5 class="four">404</h5>
			<div class="not-found">
				Page not found!
			</div>
		</div>
	</div>
	<footer class="mdl-mini-footer login-footer">
		<div class="mdl-mini-footer__left-section">
			&copy; Material Dashboard Theme
		</div>

		<div class="mdl-mini-footer__right-section">
			Terms and Conditions Apply
		</div>
	</footer>
</div>
