<div ng-cloak>
    <div ng-cloak ng-repeat="p in pqs">
        <h4>{{'Example ' + ($index + 1).toString()}}</h4>
        <div class="row">
            <es-web-pq 
                es-group-id="p.groupId" 
                es-grid-options="p.gridOptions" 
                es-show-top-pagination="true" 
                es-srv-paging="0" 
                es-params-values="p.pVals" 
                es-filter-id="p.filterId">
            </es-web-pq>
        </div>
        <hr/>
    </div>
</div>
<!-- <div>
    <div kendo-tab-strip k-content-urls="[ null, null]">
        <ul>
            <li ng-repeat="p in pqs">{{'Example ' + $index.toString()}}</li>
        </ul>
        <div ng-repeat="p in pqs">
            <div class="row">
                <es-web-pq es-group-id="p.groupId" es-grid-options="p.gridOptions" es-show-top-pagination="true" es-srv-paging="true || ($index % 2)" es-params-values="p.pVals" es-filter-id="p.filterId">
                </es-web-pq>
            </div>
        </div>
    </div>
</div>
 -->