

.k-pdf-export .k-grid-toolbar,
.k-pdf-export .k-pager-wrap {
    display: none;
}


.item {
    flex: 0 0 auto;
    margin: 20px;
}


.es-param-control {
    width: 100%;
}

.es-param-label {
    text-overflow: ellipsis;
}


/* Make all the column headers centered */

.es-table-header-cell {
    text-align: center !important;
}

.angular-google-map-container {
    width: 100%;
    height: 600px;
}
