<div class="panel panel-primary">
	<uif-spinner ng-show="state.isRunning" uif-size="large">{{'MENU.WORKING' | translate}}</uif-spinner>
	<!-- Default panel contents -->
	<div class="panel-heading"> 
		{{'MENU.SYSTEMINFO' | translate}}
	</div>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>{{'MENU.SUBSYSTEM' | translate}}</th>
				<th>{{'MENU.VERSION' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ver in versionInfo | orderBy:'code'">
				<td>{{ver.code}}</td>
				<td>{{ver.value}}</td>
			</tr>
		</tbody>
	</table>
</div>