<div class="alert alert-warning" role="alert">
    <uif-spinner ng-show="recipients.state.isRunning" uif-size="large">{{'MENU.WORKING' | translate}}</uif-spinner> 
    <strong>{{recipients.Rows.length}} eMail {{'PERSON.CONTACT' | translate}}</strong> {{'MENU.FOUNDINENTERSOFT' | translate}}
</div>

<div ng-repeat="cRow in recipients.Rows">
    <uif-persona-card uif-style="round" uif-size="xlarge" uif-image-url="{{cRow.contactPhoto}}">
        <uif-persona-card-primary-text>{{cRow.Name}}</uif-persona-card-primary-text>
        <uif-persona-card-secondary-text>{{cRow.Department}}, {{cRow.CompanyName}}</uif-persona-card-secondary-text>
        <uif-persona-card-tertiary-text>{{'PERSON.POSITION' | translate}}: {{cRow.Title}}</uif-persona-card-tertiary-text>
        <uif-persona-card-optional-text>{{cRow.CompanyAddress}}</uif-persona-card-optional-text>

        <uif-persona-card-action uif-icon="mail" uif-placeholder="regular">
            <uif-persona-card-detail-line ng-if="cRow.PersomEmail">
                <uif-persona-card-detail-label>{{'PERSON.PERSONAL' | translate}}:</uif-persona-card-detail-label>
                <uif-link ng-href="mailto:{{cRow.PersomEmail}}">{{cRow.PersomEmail}}</uif-link>
            </uif-persona-card-detail-line>

            <uif-persona-card-detail-line ng-if="cRow.ContactEmail">
                <uif-persona-card-detail-label>{{'PERSON.CONTACT' | translate}}:</uif-persona-card-detail-label>
                <uif-link ng-href="mailto:{{cRow.ContactEmail}}">{{cRow.ContactEmail}}</uif-link>
            </uif-persona-card-detail-line>
        </uif-persona-card-action>

        <uif-persona-card-action uif-icon="phone" uif-placeholder="regular">
            <uif-persona-card-detail-line>
                <uif-persona-card-detail-label>{{'PERSON.MOBILE' | translate}}:</uif-persona-card-detail-label> {{cRow.Mobile1}} / {{cRow.Mobile2}}
            </uif-persona-card-detail-line>

            <uif-persona-card-detail-line>
                <uif-persona-card-detail-label>{{'PERSON.PHONE' | translate}}(s):</uif-persona-card-detail-label> {{cRow.Person_Telephone1}} / {{cRow.Person_Telephone2}}
            </uif-persona-card-detail-line>
        </uif-persona-card-action>

        <uif-persona-card-action uif-icon="phone" uif-placeholder="regular">
            <uif-persona-card-detail-line>
                <uif-persona-card-detail-label>{{'PERSON.COMPANY' | translate}}:</uif-persona-card-detail-label> {{cRow.Person_Telephone1}}
            </uif-persona-card-detail-line>
            <uif-persona-card-detail-line>
                <uif-persona-card-detail-label>{{'PERSON.COMPANY' | translate}}:</uif-persona-card-detail-label> {{cRow.Company_Telephone2}}
            </uif-persona-card-detail-line>
        </uif-persona-card-action>
        <uif-persona-card-action uif-icon="org" ng-click="alert('hello')" uif-placeholder="topright">
          <uif-link ng-href="mailto:{{cRow.PersomEmail}}">{{cRow.PersomEmail}}</uif-link>
        </uif-persona-card-action>

    </uif-persona-card>
    <br/>
</div>