<div class="container">
    <uib-accordion close-others="true">
        <div ng-repeat="g in vm.groupMessages" uib-accordion-group ng-class="g.class" is-open="g.isOpen">
            <uib-accordion-heading>
                {{g.title}} <span class="badge">{{g.messages.length}}</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': g.isOpen, 'glyphicon-chevron-right': !g.isOpen}"></i>
            </uib-accordion-heading>
            <div class="qa-message-list" id="wallmessages">
                <div ng-repeat="msg in g.messages" class="message-item" id="msg.Code">
                    <div class="message-inner">
                        <div class="message-head clearfix">
                            <div class="avatar pull-left"><img ng-src="{{msg.personLogo}}" /></div>
                            <div class="user-detail">
                                <h5 class="handle">{{msg.Title}}</h5>
                                <div class="post-meta">
                                    <div class="asker-meta">
                                        <span class="qa-message-what"></span>
                                        <span class="qa-message-when">
														<span class="qa-message-when-data">{{msg.ReleaseDate}}</span>
                                        </span>
                                        <span class="qa-message-who">
														<span class="qa-message-who-pad">by </span>
                                        <span class="qa-message-who-data">{{msg.Owner}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qa-message-content" ng-bind-html="msg.Body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>